Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

activate
  .github/workflows/api-pull-request.yml
Due: none

ve
  .github/workflows/api-pull-request.yml
Due: none

bad
  .github/workflows/api-pull-request.yml
Due: none

1
  .github/workflows/api-pull-request.yml
Due: none

simple
  .github/workflows/api-pull-request.yml
Due: none

more simple
  .github/workflows/api-pull-request.yml
Due: none

still
  .github/workflows/api-pull-request.yml
Due: none

restore
  .github/workflows/api-pull-request.yml
Due: none

refac! add test case for dynamo wrapper
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/tests/test_dynamodb_identity_wrapper.py
  api/environments/identities/models.py
  api/environments/identities/serializers.py
  api/environments/identities/views.py
  api/tests/integration/environments/identities/test_edge_identitiy_view.py
Due: none

fixup! fix for python3.6
  api/tests/integration/environments/identities/test_edge_identitiy_view.py
Due: none

Add new permission and DB migration
  api/environments/permissions/constants.py
  api/environments/permissions/migrations/0002_add_update_feature_state_permission.py
Due: none

Upgrade flag engine to 1.4.2
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Upgrade flag engine to 1.4.2 (#559)
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Feat/edge identity viewset (#530)
  api/app/pagination.py
  api/environments/dynamodb/__init__.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/tests/test_dynamodb_identity_wrapper.py
  api/environments/identities/models.py
  api/environments/identities/serializers.py
  api/environments/identities/views.py
  api/environments/urls.py
  api/projects/exceptions.py
  api/projects/serializers.py
  api/tests/integration/conftest.py
  api/tests/integration/environments/identities/test_edge_identitiy_view.py
Due: none

fix(dynamo_wrapper): initialize _table instead of return
  api/environments/dynamodb/dynamodb_wrapper.py
Due: none

docs(project/model): update help text for enable dynamodb
  api/projects/migrations/0010_auto_20211208_1050.py
  api/projects/models.py
Due: none

improvement/better pip caching (#558)
  .github/workflows/api-pull-request.yml
  .github/workflows/platform-pull-request.yml
Due: none

Remove full stop from invite email
  api/users/templates/users/invite_to_org.html
Due: none

Increase login throttle rate
  api/app/settings/common.py
Due: none

Typo fixes for frontend application
  frontend/common/constants.js
Due: none

Fix docker-compose
  docker/docker-compose.yml
Due: none

Fix docker-compose (#569)
  docker/docker-compose.yml
Due: none

Typo fixes for frontend application (#568)
  frontend/common/constants.js
Due: none

Add tests
  api/environments/models.py
  api/environments/permissions/migrations/0002_add_update_feature_state_permission.py
  api/features/permissions.py
  api/tests/unit/conftest.py
  api/tests/unit/environments/conftest.py
  api/tests/unit/environments/test_environments_feature_states_views.py
Due: none

Log source and all console
  frontend/nightwatch.conf.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

End test session on first failure
  frontend/nightwatch.conf.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

try out testcafe
  frontend/.eslintrc.js
  frontend/.testcaferc.js
  frontend/common/project.js
  frontend/e2e/cafe/cafe.js
  frontend/e2e/init-test-cafe.js
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

try out testcafe
  frontend/.testcaferc.js
  frontend/bin/upload-file.js
  frontend/e2e/init-test-cafe.js
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

slack upload
  .github/workflows/api-deploy-production.yml
  .github/workflows/api-deploy-staging.yml
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/platform-pull-request.yml
Due: none

init tests
  frontend/.testcaferc.js
  frontend/e2e/helpers.cafe.js
  frontend/e2e/init-test-cafe.js
  frontend/e2e/init.cafe.js
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Migrate tests
  frontend/e2e/helpers.cafe.js
  frontend/e2e/init.cafe.js
Due: none

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
