Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

Add new show_edge_identity_overrides_for_feature field
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
Due: none

style: Fix vertical alignment of create first feature (#3123)
  frontend/web/components/pages/FeaturesPage.js
Due: none

Fix feature export model to statuses and null data
  api/features/import_export/migrations/0002_status_and_data_featureexport.py
  api/features/import_export/models.py
Due: none

Update import export tasks to new workflow
  api/tests/unit/features/import_export/test_unit_features_import_export_tasks.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Due: none

Add FEATURE_EXPORT_STATUSES to constants
  api/features/import_export/constants.py
Due: none

Add FeatureExport to serializer save method and add status to serializer
  api/features/import_export/serializers.py
Due: none

Respond with FeatureExportSerializer
  api/features/import_export/views.py
Due: none

Alter task to load from FeatureExport and catch exception to save status
  api/features/import_export/tasks.py
Due: none

Add new show_edge_identity_overrides_for_feature field
  .husky/pre-commit
  frontend/.husky/_/.gitignore
  frontend/.husky/pre-commit
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Add new show_edge_identity_overrides_for_feature field
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/tables/TableFilter.tsx
  frontend/web/components/tables/TableSortFilter.tsx
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_lists.scss
Due: none

Add new files and update existing files
  api/conftest.py
  api/edge_api/identities/audit.py
  api/edge_api/identities/models.py
  api/edge_api/identities/tasks.py
  api/edge_api/identities/types.py
  api/edge_api/identities/utils.py
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/types.py
  api/poetry.lock
  api/pyproject.toml
  api/task_processor/decorators.py
  api/task_processor/models.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/util/mappers/__init__.py
  api/util/mappers/dynamodb.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

fix typeddict on 3.10
  api/edge_api/identities/types.py
Due: none

feat: Set feature export response on initial API request (#3126)
  api/features/import_export/constants.py
  api/features/import_export/migrations/0002_status_and_data_featureexport.py
  api/features/import_export/models.py
  api/features/import_export/serializers.py
  api/features/import_export/tasks.py
  api/features/import_export/views.py
  api/tests/unit/features/import_export/test_unit_features_import_export_tasks.py
  api/tests/unit/features/import_export/test_unit_features_import_export_views.py
Due: none

tidier keys
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/utils.py
  api/poetry.lock
  api/pyproject.toml
  api/util/mappers/dynamodb.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

add dynamo wrapper tests, naming improvements
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/types.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/__init__.py
  api/util/mappers/dynamodb.py
  api/util/mappers/engine.py
Due: none

remove unused field
  api/edge_api/identities/types.py
Due: none

add task tests
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
Due: none

accommodate for string environment_id column
  api/conftest.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/types.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/util/mappers/dynamodb.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: Add a task for writing (edge) identity overrides (#3127)
  api/conftest.py
  api/edge_api/identities/audit.py
  api/edge_api/identities/models.py
  api/edge_api/identities/tasks.py
  api/edge_api/identities/types.py
  api/edge_api/identities/utils.py
  api/environments/dynamodb/constants.py
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/types.py
  api/environments/dynamodb/utils.py
  api/poetry.lock
  api/pyproject.toml
  api/task_processor/decorators.py
  api/task_processor/models.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_viewset.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_serializers.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/tests/unit/util/mappers/test_unit_mappers_dynamodb.py
  api/tests/unit/util/mappers/test_unit_mappers_engine.py
  api/util/mappers/__init__.py
  api/util/mappers/dynamodb.py
  api/util/mappers/engine.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Poetry lock following merge conflicts
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Fix serializers (by changing structure of the API endpoint - might need to change this back)
  api/edge_api/identities/edge_identity_service.py
  api/edge_api/identities/serializers.py
  api/environments/dynamodb/types.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_views.py
Due: none

Add identifier
  api/edge_api/identities/models.py
  api/edge_api/identities/tasks.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/util/mappers/dynamodb.py
Due: none

Add some basic tests
  api/tests/unit/projects/test_unit_projects_models.py
  api/tests/unit/projects/test_unit_projects_views.py
Due: none

fix(sse_recurring_task): reload sse/tasks (#3108)
  api/task_processor/management/commands/runprocessor.py
  api/tests/unit/sse/test_tasks.py
Due: none

Add concrete identity_uuid field
  api/environments/dynamodb/types.py
  api/tests/unit/edge_api/identities/conftest.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/util/mappers/dynamodb.py
Due: none

wip
  api/task_processor/tasks.py
Due: none

fix: bump rbac to fix import issue
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

feat: add endpoint to list (edge) identity overrides for a feature (#3116)
  api/edge_api/identities/edge_identity_service.py
  api/edge_api/identities/models.py
  api/edge_api/identities/permissions.py
  api/edge_api/identities/serializers.py
  api/edge_api/identities/tasks.py
  api/edge_api/identities/views.py
  api/environments/dynamodb/types.py
  api/environments/urls.py
  api/poetry.lock
  api/tests/unit/edge_api/identities/conftest.py
  api/tests/unit/edge_api/identities/test_edge_api_identities_views.py
  api/tests/unit/edge_api/identities/test_edge_identity_models.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
  api/tests/unit/environments/dynamodb/test_unit_dynamodb_environment_v2_wrapper.py
  api/util/mappers/dynamodb.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/api-tests-with-private-packages.yml
Due: none

fix: bump rbac to fix import issue (#3128)
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

Add IN_PROGRESS status
  api/projects/migrations/0021_add_identity_overrides_migration_status.py
  api/projects/models.py
Due: none

chore: change project field to migration status (#3124)
  api/projects/admin.py
  api/projects/migrations/0021_add_identity_overrides_migration_status.py
  api/projects/models.py
  api/projects/serializers.py
  api/tests/unit/projects/test_unit_projects_models.py
  api/tests/unit/projects/test_unit_projects_views.py
Due: none

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
