Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

Adjust engine
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

vercel.json
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

tes
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

tes
  frontend/web/components/pages/HomePage.js
Due: none

test
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test
  frontend/web/components/pages/HomePage.js
Due: none

node server
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Node
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

next.config
  frontend/next.config.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

remove vercel json
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

export app
  frontend/server/index.js
Due: none

reinstate vercel.json
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

remove builds so that we use defaults
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

remove file route
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

added function
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

func
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

added api folder
  frontend/api/api/index.js
  frontend/api/index.js
  frontend/api/middleware/single-page-middleware.js
  frontend/api/middleware/webpack-middleware.js
  frontend/api/slack-client.js
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test simple
  frontend/server/index.js
Due: none

remove
  frontend/server/api/index.js
  frontend/server/middleware/single-page-middleware.js
  frontend/server/middleware/webpack-middleware.js
  frontend/server/slack-client.js
Due: none

restore
  frontend/api/api/index.js
  frontend/api/index.js
  frontend/api/middleware/single-page-middleware.js
  frontend/api/middleware/webpack-middleware.js
  frontend/api/slack-client.js
Due: none

app
  frontend/api/index.js
  frontend/server/index.js
Due: none

test
  frontend/api/index.js
  frontend/common/project.js
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

rewrite
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

t
  frontend/api/index.js
Due: none

tided
  frontend/api/index.js
  frontend/vercel.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

api
  frontend/api/index.js
Due: none

Feat(integration): Add generic integration (#393)
  api/app/settings/common.py
  api/conftest.py
  api/environments/identities/helpers.py
  api/environments/identities/tests/test_helpers.py
  api/environments/identities/views.py
  api/environments/urls.py
  api/features/tests/conftest.py
  api/integrations/amplitude/amplitude.py
  api/integrations/heap/heap.py
  api/integrations/integration.py
  api/integrations/mixpanel/mixpanel.py
  api/integrations/rudderstack/rudderstack.py
  api/integrations/rudderstack/tests/test_rudderstack.py
  api/integrations/segment/segment.py
  api/integrations/webhook/__init__.py
  api/integrations/webhook/apps.py
  api/integrations/webhook/migrations/0001_initial.py
  api/integrations/webhook/migrations/__init__.py
  api/integrations/webhook/models.py
  api/integrations/webhook/serializers.py
  api/integrations/webhook/tests/__init__.py
  api/integrations/webhook/tests/test_serializer.py
  api/integrations/webhook/tests/test_views.py
  api/integrations/webhook/views.py
  api/integrations/webhook/webhook.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/integrations/amplitude/test_unit_amplitude.py
  api/tests/unit/integrations/heap/test_unit_heap.py
  api/tests/unit/integrations/segment/test_unit_segment.py
  api/tests/unit/integrations/test_unit_integration.py
  api/tests/unit/integrations/webhook/conftest.py
  api/tests/unit/integrations/webhook/test_unit_webhook.py
  api/webhooks/webhooks.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Increase tryit wait (#734)
  frontend/e2e/init.cafe.js
Due: none

Update rudderstack logo
  frontend/web/images/integrations/rudderstack.svg
Due: none

Update rudderstack logo (#739)
  frontend/web/images/integrations/rudderstack.svg
Due: none

improvement/webhook-logo
  frontend/web/images/integrations/webhooks.svg
Due: none

improvement/webhook-logo (#741)
  frontend/web/images/integrations/webhooks.svg
Due: none

Value editor clipboard
  frontend/web/components/ValueEditor.js
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/components/_toast.scss
Due: none

Value editor clipboard (#743)
  frontend/web/components/ValueEditor.js
  frontend/web/styles/3rdParty/_hljs.scss
  frontend/web/styles/components/_toast.scss
Due: none
