Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

docs: link to correct page (#2924)
  docs/docs/deployment/configuration/django-admin.md
Due: none

chore: Add Data Relay to web form slack/pipedrive post (#2925)
  frontend/api/index.js
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

docs: Add minor changes for project build (#2902)
  docs/docs/deployment/hosting/locally-api.md
Due: none

Move validation logic out of serializer
  api/features/serializers.py
Due: none

Add validation logic into the view as suggested by Matt
  api/features/views.py
Due: none

Rename serializer as suggested by Matt
  api/users/serializers.py
  api/users/views.py
Due: none

RTK code simplification
  frontend/common/services/useRolePermission.ts
  frontend/common/types/requests.ts
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/pages/ChangeRequestPage.js
Due: none

Create staff fixture
  api/conftest.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Remove unnecessary arg
  api/conftest.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Add with_environment_permissions
  api/conftest.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Switch validation of the serializer order
  api/features/views.py
Due: none

Update docstrings
  api/conftest.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Fix ACL for user routes
  api/organisations/tests/test_views.py
  api/users/views.py
Due: none

feat: Create staff fixture (#2928)
  api/conftest.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Use staff client
  api/organisations/tests/test_views.py
Due: none

Fix nit
  api/features/views.py
Due: none

Return 2 functions removed in RTK
  frontend/common/services/useRolePermission.ts
Due: none

Check that users can view a project in order to be an owner of the feature
  api/features/views.py
Due: none

Add test for when users are not able to view the project
  api/tests/unit/features/test_unit_features_views.py
Due: none

feat: add group owners to features (#2908)
  api/features/migrations/0060_feature_group_owners.py
  api/features/models.py
  api/features/permissions.py
  api/features/serializers.py
  api/features/views.py
  api/import_export/export.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/features/test_unit_features_views.py
  api/users/serializers.py
  api/users/views.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Add typing
  api/organisations/tests/test_views.py
  api/users/views.py
Due: none

feat: Add backoff to webhooks
  api/webhooks/tests/test_webhooks.py
  api/webhooks/webhooks.py
Due: none

fix: Tighten ACL for user routes (#2929)
  api/organisations/tests/test_views.py
  api/users/views.py
Due: none

feat: add tests for organisation webhook
  api/webhooks/tests/test_webhooks.py
Due: none

tests: add tests for args check
  api/webhooks/tests/test_webhooks.py
  api/webhooks/webhooks.py
Due: none

Update docs/docs/clients/overview.md
  docs/docs/clients/overview.md
Due: none

chore(main): release 2.79.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

chore(main): release 2.79.0 (#2930)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

update boto3
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat(dyanmo): keep tcp connection alive
  api/environments/dynamodb/dynamodb_wrapper.py
Due: none

fix test
  api/environments/dynamodb/tests/test_dynamodb_identity_wrapper.py
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat(boto3/dynamo): use tcp_keepalive (#2926)
  api/environments/dynamodb/dynamodb_wrapper.py
  api/environments/dynamodb/tests/test_dynamodb_identity_wrapper.py
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
