Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

fix(ci): Docker build CodeQL permission
  .github/workflows/.reusable-docker-build.yml
Due: none

fix(ci): Docker build CodeQL permission (#4217)
  .github/workflows/.reusable-docker-build.yml
Due: none

Minor optimisation
  api/segments/models.py
Due: none

Handle exception generating audit log
  api/core/signals.py
  api/segments/models.py
  api/segments/serializers.py
  api/tests/unit/segments/test_unit_segments_models.py
Due: none

feat(versioning): add logic to create version in single endpoint (#3991)
  api/conftest.py
  api/features/feature_segments/serializers.py
  api/features/versioning/serializers.py
  api/features/versioning/views.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: Grafana integration (#4144)
  api/app/settings/common.py
  api/audit/models.py
  api/audit/services.py
  api/audit/signals.py
  api/core/models.py
  api/core/signals.py
  api/environments/urls.py
  api/integrations/grafana/__init__.py
  api/integrations/grafana/apps.py
  api/integrations/grafana/grafana.py
  api/integrations/grafana/mappers.py
  api/integrations/grafana/migrations/0001_initial.py
  api/integrations/grafana/migrations/__init__.py
  api/integrations/grafana/models.py
  api/integrations/grafana/serializers.py
  api/integrations/grafana/types.py
  api/integrations/grafana/views.py
  api/projects/urls.py
  api/tests/unit/audit/test_unit_audit_services.py
  api/tests/unit/audit/test_unit_audit_signals.py
  api/tests/unit/integrations/grafana/__init__.py
  api/tests/unit/integrations/grafana/test_grafana.py
  api/tests/unit/integrations/grafana/test_mappers.py
  docs/docs/deployment/overview.md
  docs/docs/integrations/apm/grafana.md
  docs/docs/integrations/overview.md
  docs/static/img/integrations/grafana/grafana-logo.svg
  frontend/web/static/images/integrations/grafana.svg
Due: none

Solve the issue with the tooltip when the text is a URL
  frontend/web/components/Tooltip.tsx
Due: none

feat: Add UI for SAML attribute mapping (#4184)
  frontend/common/services/useSamlAttributeMapping.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/SAMLAttributeMappingTable.tsx
  frontend/web/components/SamlTab.tsx
  frontend/web/components/Tooltip.tsx
  frontend/web/components/modals/CreateSAML.tsx
Due: none

feat: Add confirmations when removing features, segments and environments (#4210)
  frontend/common/providers/FeatureListProvider.js
  frontend/common/providers/ProjectProvider.js
  frontend/common/stores/feature-list-store.ts
  frontend/common/stores/project-store.js
  frontend/global.d.ts
  frontend/web/components/pages/EnvironmentSettingsPage.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/SegmentsPage.tsx
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore(main): release 2.124.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

feat: Announcement feature flag per page
  frontend/web/components/App.js
Due: none

Add constants, and username
  api/e2etests/e2e_seed_data.py
Due: none

ci(tests/private-packages): Add saml
  .github/workflows/api-tests-with-private-packages.yml
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/custom_auth/end_to_end/test_custom_auth_integration.py
  api/tests/unit/custom_auth/oauth/test_unit_oauth_serializers.py
  api/tests/unit/custom_auth/test_unit_custom_auth_serializer.py
  api/tests/unit/environments/test_unit_environments_authentication.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/integrations/launch_darkly/test_services.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

move version extraction to makefile
  .github/workflows/api-tests-with-private-packages.yml
  api/Makefile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

use installed auth-controller version
  .github/workflows/api-tests-with-private-packages.yml
  api/Makefile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

build: add build script to frontend package.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore(main): release 2.124.0 (#4200)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

fix(ci): Secrets unavailable to Docker publish jobs
  .github/workflows/platform-docker-build-test-publish.yml
Due: none

Fix versioning webhooks and update test to correctly test end to end
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Due: none

Add E2E args
  .github/workflows/platform-docker-build-test-publish.yml
Due: none

fix(ci): Secrets unavailable to Docker publish jobs (#4220)
  .github/workflows/platform-docker-build-test-publish.yml
Due: none

fix: versioning webhooks and update test to correctly test end to end (#4221)
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Due: none

chore(main): release 2.124.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

chore(main): release 2.124.1 (#4222)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

fix(ci): `packages:read` permission lacking for Docker publish jobs
  .github/workflows/.reusable-docker-publish.yml
Due: none

fix(ci): Enable Docker builds and E2E for external PRs
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  frontend/Makefile
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix(ci): `packages:read` permission lacking for Docker publish jobs (#4223)
  .github/workflows/.reusable-docker-publish.yml
Due: none

chore(main): release 2.124.2
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

output `build-id` only if `ephemeral` was set to `true`
  .github/workflows/.reusable-docker-build.yml
Due: none

chore(main): release 2.124.2 (#4225)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
