Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

Use environment feature state instead of fetching feature states
  frontend/common/stores/feature-list-store.ts
Due: none

Unused recursive page get
  frontend/common/stores/feature-list-store.ts
Due: none

Remove task processor code
  api/task_processor/__init__.py
  api/task_processor/admin.py
  api/task_processor/apps.py
  api/task_processor/decorators.py
  api/task_processor/exceptions.py
  api/task_processor/health.py
  api/task_processor/management/__init__.py
  api/task_processor/management/commands/__init__.py
  api/task_processor/management/commands/checktaskprocessorthreadhealth.py
  api/task_processor/management/commands/runprocessor.py
  api/task_processor/managers.py
  api/task_processor/migrations/0001_initial.py
  api/task_processor/migrations/0002_healthcheckmodel.py
  api/task_processor/migrations/0003_add_completed_to_task.py
  api/task_processor/migrations/0004_recreate_task_indexes.py
  api/task_processor/migrations/0005_update_conditional_index_conditions.py
  api/task_processor/migrations/0006_auto_20230221_0802.py
  api/task_processor/migrations/0007_add_is_locked.py
  api/task_processor/migrations/0008_add_get_task_to_process_function.py
  api/task_processor/migrations/0009_add_recurring_task_run_first_run_at.py
  api/task_processor/migrations/0010_task_priority.py
  api/task_processor/migrations/0011_add_priority_to_get_tasks_to_process.py
  api/task_processor/migrations/__init__.py
  api/task_processor/migrations/sql/0008_get_recurring_tasks_to_process.sql
  api/task_processor/migrations/sql/0008_get_tasks_to_process.sql
  api/task_processor/migrations/sql/0011_get_tasks_to_process.sql
  api/task_processor/models.py
  api/task_processor/processor.py
  api/task_processor/serializers.py
  api/task_processor/task_registry.py
  api/task_processor/task_run_method.py
  api/task_processor/tasks.py
  api/task_processor/thread_monitoring.py
  api/task_processor/threads.py
  api/task_processor/urls.py
  api/task_processor/views.py
Due: none

Add dependency on task processor repo
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Remove task processor unit tests
  api/tests/unit/task_processor/__init__.py
  api/tests/unit/task_processor/conftest.py
  api/tests/unit/task_processor/test_unit_task_processor_decorators.py
  api/tests/unit/task_processor/test_unit_task_processor_health.py
  api/tests/unit/task_processor/test_unit_task_processor_models.py
  api/tests/unit/task_processor/test_unit_task_processor_processor.py
  api/tests/unit/task_processor/test_unit_task_processor_tasks.py
  api/tests/unit/task_processor/test_unit_task_processor_thread_monitoring.py
  api/tests/unit/task_processor/test_unit_task_processor_threads.py
Due: none

isort
  api/app/settings/common.py
  api/app_analytics/tasks.py
  api/app_analytics/track.py
  api/audit/tasks.py
  api/conftest.py
  api/core/signals.py
  api/custom_auth/tasks.py
  api/edge_api/identities/edge_request_forwarder.py
  api/edge_api/identities/tasks.py
  api/environments/tasks.py
  api/features/import_export/tasks.py
  api/features/tasks.py
  api/features/versioning/tasks.py
  api/integrations/github/tasks.py
  api/integrations/launch_darkly/tasks.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/organisations/chargebee/tasks.py
  api/organisations/tasks.py
  api/projects/tasks.py
  api/pyproject.toml
  api/segments/tasks.py
  api/sse/tasks.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/projects/test_unit_projects_tasks.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/users/tasks.py
  api/webhooks/webhooks.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Preserve selected environment
  frontend/web/components/App.js
  frontend/web/components/pages/HomeAside.tsx
Due: none

Remove debugger
  frontend/web/components/App.js
Due: none

Add unit test for subscription metadata for tests
  api/tests/unit/organisations/test_unit_organisations_models.py
Due: none

Bump task processor to 1.0.0
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Move task_processor back to known_first_party and run isort
  api/app/settings/common.py
  api/app_analytics/tasks.py
  api/app_analytics/track.py
  api/audit/tasks.py
  api/conftest.py
  api/core/signals.py
  api/custom_auth/tasks.py
  api/edge_api/identities/edge_request_forwarder.py
  api/edge_api/identities/tasks.py
  api/environments/tasks.py
  api/features/import_export/tasks.py
  api/features/tasks.py
  api/features/versioning/tasks.py
  api/integrations/github/tasks.py
  api/integrations/launch_darkly/tasks.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/organisations/chargebee/tasks.py
  api/organisations/tasks.py
  api/projects/tasks.py
  api/pyproject.toml
  api/segments/tasks.py
  api/sse/tasks.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/projects/test_unit_projects_tasks.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/users/tasks.py
  api/webhooks/webhooks.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

chore(main): release 2.123.1 (#4183)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

fix login redirect
  frontend/web/components/App.js
Due: none

feat: Bump Poetry version
  api/Makefile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

deps: Bump Poetry version (#4191)
  api/Makefile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Remove log
  frontend/web/components/App.js
Due: none

Fix Edge Proxy docker compose ports definition
  docs/docs/deployment/hosting/locally-edge-proxy.md
Due: none

Simplify diff
  docs/docs/deployment/hosting/locally-edge-proxy.md
Due: none

Update the role test, and include permission and role test in the workflow
  .github/workflows/platform-pull-request.yml
  frontend/e2e/tests/roles-test.ts
Due: none

docs: Add new Edge Proxy logging settings
  docs/docs/deployment/hosting/locally-edge-proxy.md
Due: none

docs: Add new Edge Proxy logging settings (#4194)
  docs/docs/deployment/hosting/locally-edge-proxy.md
Due: none

docs: Fix bulk-identities API example
  docs/docs/clients/rest.md
Due: none

fix: Hide Sensitive Data switch
  frontend/web/components/pages/EnvironmentSettingsPage.js
Due: none

fix: Preserve selected environment (#4190)
  frontend/web/components/App.js
  frontend/web/components/pages/HomeAside.tsx
Due: none

Use shorter form ports definition
  docs/docs/deployment/hosting/locally-edge-proxy.md
Due: none

docs: fix Edge Proxy docker compose ports definition (#4193)
  docs/docs/deployment/hosting/locally-edge-proxy.md
Due: none

Bump SAML revision
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

Prettier fix
  docs/docs/deployment/hosting/locally-edge-proxy.md
Due: none

docs: prettier fix (#4202)
  docs/docs/deployment/hosting/locally-edge-proxy.md
Due: none

deps: bump SAML revision (#4201)
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

Build Private Cloud image in Dockerfile
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/platform-pull-request.yml
  Dockerfile
  api/Dockerfile
  frontend/Dockerfile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

rename secret to avoid cache
  .github/workflows/.reusable-docker-build.yml
  Dockerfile
Due: none

Add Poetry opts
  .github/workflows/platform-pull-request.yml
Due: none

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
