Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

github actions updated (#1562)
  .github/workflows/api-audit.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
  .github/workflows/api-docker-publish-image.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/frontend-audit.yml
  .github/workflows/frontend-deploy-demo.yml
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/frontend-deploy-staging.yml
  .github/workflows/frontend-docker-publish-image.yml
  .github/workflows/frontend-test-staging.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  .github/workflows/platform-docker-publish-image.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
Due: none

Remove stale dockerfiles
  docker/frontend/bullet-train-gcloud/Dockerfile
  docker/frontend/bullet-train-nightwatch/Dockerfile
Due: none

Update e2e dockerfile
  frontend/Dockerfile.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Update docker-compose
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

More tweaks to dockerfile / docker compose for e2e tests
  frontend/Dockerfile.e2e
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

update to v4 python
  .github/actions/run-local-api/action.yml
Due: none

fix in 1 line
  .github/actions/run-local-api/action.yml
Due: none

fixer
  .github/actions/run-local-api/action.yml
Due: none

revert
  .github/actions/run-local-api/action.yml
  .github/workflows/api-pull-request.yml
Due: none

Optimise update_traits
  api/environments/identities/models.py
  api/environments/identities/traits/models.py
Due: none

Add github workflow to build e2e image
  .github/workflows/frontend-e2e-docker-publish-image.yml
Due: none

Remove branch from workflow
  .github/workflows/frontend-e2e-docker-publish-image.yml
Due: none

Update names
  .github/workflows/frontend-e2e-docker-publish-image.yml
Due: none

Revert unnecessary changes
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Rename repository
  .github/workflows/frontend-e2e-docker-publish-image.yml
Due: none

Optimise update_traits (#1567)
  api/environments/identities/models.py
  api/environments/identities/traits/models.py
Due: none

Move to 3.11 official release
  Dockerfile
  api/Dockerfile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update workflow to use 3.11
  .github/workflows/api-pull-request.yml
Due: none

End to end testing image build (#1568)
  .github/workflows/frontend-e2e-docker-publish-image.yml
  docker/frontend/bullet-train-gcloud/Dockerfile
  docker/frontend/bullet-train-nightwatch/Dockerfile
  frontend/Dockerfile.e2e
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore/update-github-python-actions (#1566)
  .github/workflows/api-pull-request.yml
Due: none

Remove User Traits panel
  frontend/web/components/pages/UsersPage.js
Due: none

Test commit
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Revert commit
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Remove User Traits panel (#1570)
  frontend/web/components/pages/UsersPage.js
Due: none

Add pagination class to segments so the FE can limit the number returned
  api/segments/views.py
Due: none

Invalidate invite link
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/OrganisationProvider.js
  frontend/common/stores/organisation-store.js
  frontend/web/components/ButtonDropdown.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_forms.scss
  frontend/web/styles/project/_panel.scss
  frontend/web/styles/project/_popover.scss
Due: none

Invalidate invite link
  frontend/web/components/pages/OrganisationSettingsPage.js
Due: none

Add prefetch related to segment viewset queryset
  api/segments/tests/test_views.py
  api/segments/views.py
Due: none

Add another TODO and update test to validate the response
  api/segments/tests/test_views.py
  api/segments/views.py
Due: none

Add search
  api/segments/tests/test_views.py
  api/segments/views.py
Due: none

Regenerate invite link (#1572)
  frontend/common/dispatcher/action-constants.js
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/OrganisationProvider.js
  frontend/common/stores/organisation-store.js
  frontend/web/components/ButtonDropdown.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_forms.scss
  frontend/web/styles/project/_panel.scss
  frontend/web/styles/project/_popover.scss
Due: none

console error google oauth errors
  frontend/web/components/pages/HomePage.js
Due: none

Update google oauth
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/pages/HomePage.js
  frontend/web/project/auth.js
  frontend/web/project/lib/gapi.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
