Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

feat: Edit Change Requests (#6356)
  frontend/common/providers/withSegmentOverrides.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/Feature.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/Switch.js
  frontend/web/components/Switch.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/base/grid/FormGroup.js
  frontend/web/components/base/grid/FormGroup.tsx
  frontend/web/components/base/grid/Row.js
  frontend/web/components/base/grid/Row.tsx
  frontend/web/components/diff/DiffSegmentOverrides.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/ChangeRequestModal.tsx
  frontend/web/components/modals/FlagValueFooter.tsx
  frontend/web/components/modals/create-feature/FeatureLimitAlert.tsx
  frontend/web/components/modals/create-feature/FeatureNameInput.tsx
  frontend/web/components/modals/create-feature/FeatureUpdateSummary.tsx
  frontend/web/components/modals/create-feature/index.js
  frontend/web/components/modals/create-feature/tabs/CreateFeature.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureSettings.tsx
  frontend/web/components/modals/create-feature/tabs/FeatureValue.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/SegmentPage.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/release-pipelines/FeaturePipelineStatus.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/project/project-components.js
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_buttons.scss
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat(frontend): add subscription limit info to Usage and Billing pages (#6539)
  frontend/web/components/StatItem.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
  frontend/web/components/pages/organisation-settings/tabs/BillingTab.tsx
  frontend/web/styles/project/_panel.scss
Due: none

Move concurrency check to workflow level
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
Due: none

feat(frontend): add Jest unit testing infrastructure (#6432)
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/frontend-pull-request.yml
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/__tests__/format.test.ts
  frontend/common/utils/format.js
  frontend/common/utils/format.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.jest.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix(frontend): add skip conditions for undefined environment ID queries
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/IdentitySelect.tsx
Due: none

fix(frontend): add guard in CompareEnvironments fetch for empty environment
  frontend/web/components/CompareEnvironments.js
Due: none

feat: re-added-master-api-key-throttle
  api/app/settings/common.py
Due: none

feat: re-added-deleted-values
  api/app/settings/common.py
  api/app/settings/test.py
Due: none

feat: use-default-allocation-from-flag
  frontend/web/components/modals/create-feature/index.js
Due: none

fix: add skip conditions for undefined environment ID queries on Compare feat (#6557)
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareIdentities.tsx
  frontend/web/components/IdentitySelect.tsx
Due: none

feat: use-default-allocation-from-flag (#6558)
  frontend/web/components/modals/create-feature/index.js
Due: none

fix: add null checks for multivariate_options in feature-list-store
  frontend/common/stores/feature-list-store.ts
Due: none

Remove unused tests
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/versioning-tests.ts
Due: none

Merge package lock
  frontend/package-lock.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Use playwright's firefox in dockerfile
  frontend/Dockerfile-base.e2e
  frontend/Dockerfile.e2e
  frontend/README.md
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Add frontend makefile logging, remove apt-get line
  frontend/Dockerfile.e2e
  frontend/Makefile
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

re-add "tags" to tests
  .github/workflows/platform-pull-request.yml
  frontend/e2e/tests/environment-permission-test.pw.ts
  frontend/e2e/tests/environment-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/initialise-tests.pw.ts
  frontend/e2e/tests/invite-test.pw.ts
  frontend/e2e/tests/organisation-permission-test.pw.ts
  frontend/e2e/tests/organisation-test.pw.ts
  frontend/e2e/tests/project-permission-test.pw.ts
  frontend/e2e/tests/project-test.pw.ts
  frontend/e2e/tests/roles-test.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/versioning-tests.pw.ts
Due: none

Update flagsmith-common
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update auto-generated docs
  docs/docs/administration-and-security/platform-configuration/metrics.md
Due: none

Add health check prior to teardown
  frontend/e2e/global-setup.playwright.ts
Due: none

infra(Monitoring): Expose /metrics to new port (#6533)
  api/poetry.lock
  api/pyproject.toml
  docs/docs/administration-and-security/platform-configuration/metrics.md
  infrastructure/aws/staging/ecs-task-definition-task-processor.json
  infrastructure/aws/staging/ecs-task-definition-web.json
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Add health check prior to teardown
  frontend/Makefile
  frontend/e2e/global-teardown.playwright.ts
  frontend/playwright.config.ts
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Add health check prior to teardown
  frontend/Makefile
  frontend/e2e/global-teardown.playwright.ts
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Improve logging, add sticky comment, add artifcats
  .github/workflows/.reusable-docker-e2e-tests.yml
  frontend/Makefile
  frontend/playwright.config.ts
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Fix duplicate artifacts / race conditions
  .github/workflows/.reusable-docker-e2e-tests.yml
  docker-compose.yml
  frontend/E2E-LOCAL-TESTING.md
  frontend/e2e/global-setup.playwright.ts
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/helpers.playwright.ts
  frontend/e2e/test-setup.ts
  frontend/e2e/tests/environment-permission-test.pw.ts
  frontend/e2e/tests/environment-test.pw.ts
  frontend/e2e/tests/flag-tests.pw.ts
  frontend/e2e/tests/initialise-tests.pw.ts
  frontend/e2e/tests/invite-test.pw.ts
  frontend/e2e/tests/organisation-permission-test.pw.ts
  frontend/e2e/tests/organisation-test.pw.ts
  frontend/e2e/tests/project-permission-test.pw.ts
  frontend/e2e/tests/project-test.pw.ts
  frontend/e2e/tests/roles-test.pw.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/versioning-tests.pw.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

improve artifacts
  .github/workflows/.reusable-docker-e2e-tests.yml
  frontend/e2e/helpers.playwright.ts
  frontend/e2e/tests/segment-test.pw.ts
  frontend/playwright.config.ts
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

improve artifacts
  .github/workflows/.reusable-docker-e2e-tests.yml
Due: none

improve tests
  frontend/e2e/helpers.playwright.ts
  frontend/e2e/tests/segment-test.pw.ts
Due: none

fix duplicate artifact names, only upload artifacts on failure
  .github/workflows/.reusable-docker-e2e-tests.yml
  frontend/e2e/helpers.playwright.ts
Due: none

Remove testcafe stuff
  frontend/e2e/add-error-logs.js
  frontend/e2e/global-teardown.playwright.ts
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/versioning-tests.ts
Due: none

Fix piping
  .github/workflows/.reusable-docker-e2e-tests.yml
Due: none

ci: add check for failed deployments (#6549)
  .github/actions/api-deploy-ecs/action.yml
  .github/actions/task-processor-deploy-ecs/action.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-deploy-staging-ecs.yml
Due: none

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
