Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

fixed description view in feature row
  frontend/web/components/FeatureRow.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/ProjectSelectPage.js
  frontend/web/components/pages/UserPage.js
  frontend/web/styles/components/_panel.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
Due: none

Add more unit tests
  api/features/models.py
  api/features/versioning/models.py
  api/features/versioning/views.py
  api/tests/unit/environments/test_unit_environments_models.py
  api/tests/unit/features/test_unit_features_models.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
Due: none

removed icons without description
  frontend/web/components/FeatureRow.js
Due: none

Firefox for docker
  frontend/Dockerfile.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Better docker for e2e FE
  frontend/Dockerfile.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Parallel e2e tests
  .github/workflows/platform-pull-request.yml
  frontend/e2e/index.cafe.js
Due: none

Add view tests and update logic
  api/features/versioning/exceptions.py
  api/features/versioning/models.py
  api/features/versioning/serializers.py
  api/features/versioning/views.py
  api/tests/unit/features/versioning/conftest.py
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Due: none

chore/e2e tests with firefox
  frontend/.testcaferc.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore/e2e tests with firefox
  frontend/Dockerfile.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Parallel e2e tests
  frontend/e2e/index.cafe.js
Due: none

Parallel e2e tests
  frontend/e2e/helpers.cafe.ts
Due: none

Parallel e2e tests
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/index.cafe.js
Due: none

Undo test changes
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore/e2e tests with firefox
  .github/workflows/platform-docker-build-e2e-image.yml
Due: none

chore/e2e tests with firefox
  .github/workflows/platform-docker-build-e2e-image.yml
  frontend/Dockerfile-base.e2e
  frontend/Dockerfile.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore/e2e tests with firefox
  .github/workflows/platform-docker-build-e2e-image.yml
  .github/workflows/platform-pull-request.yml
  frontend/Dockerfile-base.e2e
  frontend/Dockerfile.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Alternate feature list table
  frontend/web/components/FeatureRow.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/tags/Tag.tsx
  frontend/web/components/tags/TagValues.tsx
Due: none

fix description
  frontend/web/components/FeatureRow.js
Due: none

Update tests, and migrations
  api/conftest.py
  api/organisations/migrations/0044_auto_20230802_1956.py
  api/organisations/models.py
  api/organisations/subscription_info_cache.py
  api/organisations/tests/test_views.py
  api/sales_dashboard/views.py
  api/tests/unit/organisations/chargebee/conftest.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Side modals
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/pages/OrganisationGroupsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Due: none

Update env view
  api/environments/serializers.py
  api/environments/views.py
Due: none

Fixes
  frontend/web/components/CodeHelp.js
  frontend/web/components/modals/InviteUsers.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_layout.scss
Due: none

Fixes
  frontend/web/components/CodeHelp.js
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_layout.scss
Due: none

dark outline disabled color
  frontend/web/styles/project/_buttons.scss
Due: none

Fixes (#2569)
  frontend/web/components/CodeHelp.js
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_buttons.scss
  frontend/web/styles/project/_layout.scss
Due: none

recreate migrations
  api/organisations/migrations/0044_organisationsubscriptioninformationcache_allowed_projects.py
  api/organisations/migrations/0045_auto_20230802_1956.py
Due: none

chore/e2e tests with firefox
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-pull-request.yml
Due: none

Update test
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
Due: none

chore/e2e tests with firefox
  frontend/Dockerfile-base.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Update AUTO_SEAT_UPGRADE_PLANS
  infrastructure/aws/production/ecs-task-definition-web.json
Due: none

chore: e2e tests with firefox (#2564)
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-docker-build-e2e-image.yml
  .github/workflows/platform-pull-request.yml
  frontend/.testcaferc.js
  frontend/Dockerfile-base.e2e
  frontend/Dockerfile.e2e
  frontend/e2e/index.cafe.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
