Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

avoid extra query evaluation, remove one query
  api/environments/identities/models.py
  api/tests/unit/environments/identities/traits/test_unit_traits_serializers.py
Due: none

identity model coverage
  api/tests/unit/environments/identities/helpers.py
  api/tests/unit/environments/identities/test_unit_identities_models.py
Due: none

Rename method argument
  api/features/versioning/models.py
  api/features/workflows/core/models.py
Due: none

Ensure task is correctly scheduled for the future
  api/features/versioning/models.py
  api/tests/unit/features/workflows/test_workflows.py
Due: none

identify with traits serializer coverage
  api/environments/sdk/serializers.py
  api/tests/unit/environments/sdk/test_unit_sdk_serializers.py
Due: none

Add alert when conflicts exist in scheduled change set
  api/features/versioning/models.py
  api/features/versioning/tasks.py
  api/features/versioning/templates/versioning/scheduled_change_failed_conflict_email.txt
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Due: none

Remove assertion on incomplete work
  api/tests/unit/features/versioning/test_unit_versioning_views.py
Due: none

Move Conflict dataclass
  api/features/versioning/dataclasses.py
  api/features/versioning/models.py
Due: none

Remove TODO
  api/features/versioning/models.py
Due: none

Set the environment_feature_version on publish
  api/features/versioning/tasks.py
Due: none

Add validation that VersionChangeSet has a related object
  api/features/versioning/models.py
Due: none

Update url type validation
  frontend/common/utils/utils.tsx
Due: none

Revert "Move task_processor back to known_first_party and run isort"
  api/app/settings/common.py
  api/app_analytics/tasks.py
  api/app_analytics/track.py
  api/audit/tasks.py
  api/conftest.py
  api/core/signals.py
  api/custom_auth/tasks.py
  api/edge_api/identities/edge_request_forwarder.py
  api/edge_api/identities/tasks.py
  api/environments/tasks.py
  api/features/import_export/tasks.py
  api/features/tasks.py
  api/features/versioning/tasks.py
  api/integrations/github/tasks.py
  api/integrations/launch_darkly/tasks.py
  api/integrations/lead_tracking/hubspot/tasks.py
  api/organisations/chargebee/tasks.py
  api/organisations/tasks.py
  api/projects/tasks.py
  api/pyproject.toml
  api/segments/tasks.py
  api/sse/tasks.py
  api/tests/unit/integrations/lead_tracking/hubspot/test_unit_hubspot_lead_tracking.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/projects/test_unit_projects_tasks.py
  api/tests/unit/projects/test_unit_projects_views.py
  api/users/tasks.py
  api/webhooks/webhooks.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Fix post merge conflict resolution
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

SDK view coverage
  api/tests/unit/environments/identities/test_unit_identities_views.py
Due: none

fix
  api/environments/identities/views.py
Due: none

Added front-end dashboard page with a bar chart to show SDK request data
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/EventAndRequestPage.tsx
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/routes.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix(e2e): Pass `GITHUB_ACTION_URL` to Docker E2E test runs (#4322)
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix: Prevent "Create Segment" button from disappearing when deleting the last segment (#4314)
  frontend/web/components/pages/SegmentsPage.tsx
Due: none

chore(build): API test image (#4266)
  .github/actions/docker-build-report-to-pr/action.yml
  .github/docker_build_comment_template.md
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  .pre-commit-config.yaml
  Dockerfile
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

update ECS task
  .github/actions/api-deploy-ecs/action.yml
Due: none

update docs
  docs/docs/system-administration/importing-and-exporting/organisations.md
Due: none

feat(docker): Update entrypoint (#4262)
  .github/actions/api-deploy-ecs/action.yml
  api/scripts/run-docker.sh
  docs/docs/system-administration/importing-and-exporting/organisations.md
Due: none

rename file, fix test
  api/tests/unit/app_analytics/test_unit_app_analytics_cache.py
Due: none

fix: Avoid E2E rate limiting by swithing to Postgres image hosted on GHCR
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix(build): Avoid E2E rate limiting by swithing to Postgres image hosted on GHCR (#4328)
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Fix frontend exception when announcement not set
  frontend/web/components/Announcement.tsx
Due: none

fix: frontend fails to load when announcement flag isn't set (#4329)
  frontend/web/components/Announcement.tsx
Due: none

fix: Fix "Create Project" button in the project selector not opening the project creation modal (#4294)
  frontend/web/components/ProjectManageWidget.tsx
Due: none

chore(main): release 2.129.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

fix: The organisation setting page is broken locally
  frontend/env/project_local.js
Due: none
