Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

Upgrade flag engine to 1.2.0
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Upgrade flag engine to 1.2.0 (#513)
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update endpoint details and add plan id
  api/organisations/chargebee.py
  api/organisations/serializers.py
  api/organisations/tests/test_chargebee.py
  api/organisations/tests/test_views.py
  api/organisations/views.py
Due: none

chore/remove-empty-isort
  .isort.cfg
Due: none

Upgrade flag engine to 1.3.1
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feature/run-chromedriver-tests-in-docker
  frontend/Dockerfile.e2e
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Upgrade flag engine to 1.3.1 (#521)
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

chore/remove-empty-isort (#516)
  .isort.cfg
Due: none

Update environments in dynamodb on segment changes
  api/audit/signals.py
  api/requirements-dev.txt
  api/tests/unit/audit/__init__.py
  api/tests/unit/audit/conftest.py
  api/tests/unit/audit/test_unit_audit_signals.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update environments in dynamodb on segment changes (#524)
  api/audit/signals.py
  api/requirements-dev.txt
  api/tests/unit/audit/__init__.py
  api/tests/unit/audit/conftest.py
  api/tests/unit/audit/test_unit_audit_signals.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update endpoint details and add plan id (#514)
  api/organisations/chargebee.py
  api/organisations/serializers.py
  api/organisations/tests/test_chargebee.py
  api/organisations/tests/test_views.py
  api/organisations/views.py
Due: none

Fix DISABLE_INFLUXDB_FEATURES #526
  docker/docker-compose.yml
Due: none

Fixes #527
  api/app/views.py
Due: none

Fix DISABLE_INFLUXDB_FEATURES #526 (#528)
  docker/docker-compose.yml
Due: none

Pin E2E ubuntu
  .github/workflows/platform-pull-request.yml
Due: none

node 16 support
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Upgrade appengine to node 16
  frontend/app.yaml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Upgrade engine to 1.3.4
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

node 16 support (#533)
  frontend/app.yaml
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Revert to ubuntu-latest
  .github/workflows/platform-pull-request.yml
Due: none

Fix content type on project overrides endpoints
  api/app/views.py
  frontend/server/index.js
Due: none

Fix content type on project overrides endpoints (#535)
  api/app/views.py
  frontend/server/index.js
Due: none

Upgrade engine to 1.3.4 (#534)
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

bug/flagsmith-on-flagsmith-env-vars-mixed-up (#529)
  api/app/views.py
Due: none

Update docker-compose.yml
  docker/docker-compose.yml
Due: none

change "api" to "flagsmith" to avoid confusion
  docker/docker-compose.yml
Due: none
