Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

feat(experiments-v2): Add inclusion criteria and stats engine controls
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.scss
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.tsx
  frontend/web/components/experiments-v2/types.ts
Due: none

fix(warehouse): Replace throwaway card descriptions
  frontend/web/components/warehouse/types.ts
Due: none

feat(experiments-v2): Surface Layers, randomisation unit, persist-across-auth
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/AudienceStep.scss
  frontend/web/components/experiments-v2/steps/AudienceStep.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/types.ts
Due: none

fix(warehouse): "Coming Soon" badge overlapping two-line descriptions
  frontend/web/components/warehouse/components/ConfigForm.scss
Due: none

feat(warehouse): Demo state switcher + ?state= URL param
  frontend/web/components/warehouse/WarehousePage.scss
  frontend/web/components/warehouse/WarehousePage.tsx
Due: none

feat(experiments-v2): Surface eval-hierarchy banners and effective population
  frontend/web/components/experiments-v2/steps/AudienceStep.tsx
  frontend/web/components/experiments-v2/steps/SetupStep.tsx
Due: none

fix(warehouse): Stale account URL in Connected/Error + Cancel-from-edit bug
  frontend/web/components/warehouse/WarehousePage.tsx
  frontend/web/components/warehouse/components/ConnectedState.tsx
  frontend/web/components/warehouse/components/ErrorState.tsx
Due: none

chore(deps): Restore motion after rebasing onto main
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix(experiments-v2): Replace removed Banner with WarningMessage
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.tsx
  frontend/web/components/experiments-v2/steps/SetupStep.tsx
Due: none

added return types for mypy to pass
  api/metrics/worker_metrics.py
Due: none

implemented django worker rss middleware to update memory gauge
  api/core/middleware/worker_rss.py
Due: none

refactor(experiments-v2): Drop bucketing & exclusion section from wizard
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/AudienceStep.scss
  frontend/web/components/experiments-v2/steps/AudienceStep.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/types.ts
  frontend/web/components/experiments-v2/wizard/LivePreviewPanel.tsx
Due: none

add WorkerRSSMiddleware in middleware stack
  api/app/settings/common.py
Due: none

refactor(experiments-v2): Use SearchableSelect in audience condition builder
  frontend/web/components/experiments-v2/shared/AudienceConditionBuilder.scss
  frontend/web/components/experiments-v2/shared/AudienceConditionBuilder.tsx
Due: none

refactor(experiments-v2): Drop measurement controls from wizard
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.scss
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.scss
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.tsx
  frontend/web/components/experiments-v2/types.ts
Due: none

feat(segment_membership): Daily Snowflake-backed per-env segment counts
  api/app/settings/common.py
  api/poetry.lock
  api/pyproject.toml
  api/segment_membership/__init__.py
  api/segment_membership/apps.py
  api/segment_membership/mappers.py
  api/segment_membership/migrations/0001_initial.py
  api/segment_membership/migrations/0002_setup_snowflake_identities_schema.py
  api/segment_membership/migrations/__init__.py
  api/segment_membership/models.py
  api/segment_membership/services.py
  api/segment_membership/tasks.py
  api/segments/serializers.py
  api/segments/views.py
  api/tests/integration/segments/__init__.py
  api/tests/integration/segments/test_segment_membership_field.py
  api/tests/unit/segment_membership/__init__.py
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
  api/tests/unit/segment_membership/test_unit_segment_membership_migration.py
  api/tests/unit/segment_membership/test_unit_segment_membership_services.py
  api/tests/unit/segment_membership/test_unit_segment_membership_tasks.py
  api/tests/unit/util/test_util.py
  api/util/util.py
  docs/docs/deployment-self-hosting/observability/_events-catalogue.md
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

refactor(experiments-v2): Drop guardrail role, compress to primary/secondary
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/MetricsLibraryPage.tsx
  frontend/web/components/experiments-v2/shared/MetricsComparisonTable.scss
  frontend/web/components/experiments-v2/shared/MetricsComparisonTable.tsx
  frontend/web/components/experiments-v2/shared/SelectableCard.scss
  frontend/web/components/experiments-v2/shared/SelectableCard.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.scss
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/steps/SelectMetricsStep.tsx
  frontend/web/components/experiments-v2/types.ts
Due: none

refactor(experiments-v2): Drop start/end date fields
  frontend/web/components/experiments-v2/CreateExperimentPage.tsx
  frontend/web/components/experiments-v2/steps/ReviewLaunchStep.tsx
  frontend/web/components/experiments-v2/steps/SetupStep.scss
  frontend/web/components/experiments-v2/steps/SetupStep.tsx
  frontend/web/components/experiments-v2/types.ts
Due: none

fix(segment_membership): Bump segment-list query counts for memberships prefetch
  api/tests/unit/segments/test_unit_segments_views.py
Due: none

ci(segment_membership): Pin flagsmith-sql-flag-engine to CodeArtifact pre-release
  .github/workflows/.reusable-docker-build.yml
  Dockerfile
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

ci(segment_membership): Authenticate Poetry installs against CodeArtifact
  .github/actions/codeartifact-login/action.yml
  .github/workflows/.reusable-docker-build.yml
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/update-flagsmith-environment.yml
Due: none

fix(segment_membership): Derive IDENTITIES.id from UUID bytes, not MD5
  api/segment_membership/mappers.py
  api/tests/unit/segment_membership/test_unit_segment_membership_mappers.py
Due: none

feat(segment_membership): Surface identity counts in segments UI
  frontend/common/types/responses.ts
  frontend/e2e/tests/segment-membership-test.pw.ts
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/segments/SegmentMembershipBadge.tsx
  frontend/web/components/segments/SegmentRow/SegmentRow.tsx
  frontend/web/project/project-components.js
  frontend/web/styles/components/_chip.scss
Due: none

implemented tests for middleware
  api/tests/unit/core/middleware/test_unit_core_middleware_worker_rss.py
Due: none

ci: migrate api/ from poetry to uv
  api/poetry.lock
  api/pyproject.toml
  api/uv.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

ci: swap poetry for uv in api/Makefile and pre-commit config
  .pre-commit-config.yaml
  api/Makefile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

ci: install uv in api workflows in place of poetry
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/update-flagsmith-environment.yml
Due: none

ci: switch api Dockerfile build to uv
  Dockerfile
Due: none

refactor: extract pytest fixtures out of api/conftest.py into api/tests/fixtures.py
  api/conftest.py
  api/tests/fixtures.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

refactor: distribute api test fixtures via pytest entry-point plugin
  api/conftest.py
  api/pyproject.toml
  api/tests/plugin.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

refactor: distribute api fixtures via tests/conftest.py + pytest_plugins
  api/pyproject.toml
  api/tests/conftest.py
  api/tests/fixtures.py
  api/tests/plugin.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

refactor(segment-membership-ui): proposed fixes for PR #7467 review
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/CreateSegmentUsersTabContent.tsx
  frontend/web/components/segments/SegmentMembershipBadge.tsx
  frontend/web/styles/components/_chip.scss
Due: none

fix: restore api/ as the fake-fs mount root after conftest move
  api/tests/conftest.py
Due: none

test: cover api/tests/conftest.py - drop dead fixtures, mark defensive branches
  api/tests/conftest.py
Due: none

ci: Drop setup-python and cache uv in Docker builds
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-pull-request.yml
  .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-tests-with-private-packages.yml
  .github/workflows/update-flagsmith-environment.yml
  Dockerfile
Due: none

feat: empty string as monospace
  frontend/web/components/feature-summary/FeatureValue.tsx
Due: none

docs: add Feature Versioning v2 guide and EF_VERSION audit type
  docs/docs/administration-and-security/governance-and-compliance/audit-logs.md
  docs/docs/managing-flags/feature-versioning.md
Due: none

docs(feature-versioning): align caution wording with UI — irreversible
  docs/docs/managing-flags/feature-versioning.md
Due: none

docs(feature-versioning): tighten irreversible caution to match UI
  docs/docs/managing-flags/feature-versioning.md
Due: none

docs(feature-versioning): trim editorial copy and align lead with UI
  docs/docs/managing-flags/feature-versioning.md
Due: none
