Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

docs: FAQ page components and data (#6402)
  docs/docs/administration-and-security/access-control/saml.md
  docs/docs/deployment-self-hosting/core-configuration/environment-variables.md
  docs/docs/deployment-self-hosting/edge-proxy.md
  docs/docs/flagsmith-concepts/identities.md
  docs/docs/flagsmith-concepts/segments/index.md
  docs/docs/integrating-with-flagsmith/integration-overview.md
  docs/docs/integrating-with-flagsmith/sdks/index.md
  docs/docs/integrating-with-flagsmith/sdks/server-side.mdx
  docs/docs/managing-flags/core-management.md
  docs/docs/performance/edge-proxy.md
  docs/docs/support/faq/_category_.json
  docs/docs/support/faq/account-billing-organisation.mdx
  docs/docs/support/faq/feature-flags-remote-config.mdx
  docs/docs/support/faq/index.mdx
  docs/docs/support/faq/infrastructure-api.mdx
  docs/docs/support/faq/open-source-self-hosted.mdx
  docs/docs/support/faq/sdks-implementation.mdx
  docs/docs/support/faq/segments-targeting.mdx
  docs/docs/support/faq/user-identity-management.mdx
  docs/docs/third-party-integrations/ci-cd/terraform.md
  docs/docs/third-party-integrations/index.mdx
  docs/docs/third-party-integrations/webhook.md
  docs/src/components/FAQCard/index.js
  docs/src/components/FAQCard/styles.module.css
  docs/src/css/custom.css
  docs/static/img/edge-proxy-existing.svg
  docs/static/img/edge-proxy-proxy.svg
Due: none

fix: explicitely-set-is-archived-false
  frontend/common/utils/featureFilterParams.ts
Due: none

Revert "refactor(features): migrate FeaturesPage to RTK Query and eliminate l…"
  frontend/common/hooks/useFeatureListWithApiKey.ts
  frontend/common/hooks/usePageTracking.ts
  frontend/common/hooks/useProjectEnvironments.ts
  frontend/common/providers/Permission.tsx
  frontend/common/services/useFeatureState.ts
  frontend/common/services/useProjectFlag.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/featureFilters.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/featureFilterParams.ts
  frontend/global.d.ts
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/EnvironmentDocumentCodeHelp.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/FeatureRowSkeleton.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/metrics/constants.ts
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/features/FeatureMetricsSection.tsx
  frontend/web/components/pages/features/FeaturesEmptyState.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
  frontend/web/components/pages/features/components/FeaturesSDKIntegration.tsx
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/pages/features/components/index.ts
  frontend/web/components/pages/features/hooks/useFeatureFilters.ts
  frontend/web/components/pages/features/hooks/useRemoveFeatureWithToast.ts
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
  frontend/web/components/pages/features/index.ts
  frontend/web/components/pages/features/types.ts
  frontend/web/components/tables/TableGroupsFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/routes.js
  frontend/web/styles/components/_feature-row-skeleton.scss
  frontend/web/styles/components/_index.scss
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix: force-ci
  frontend/common/services/useFeatureVersion.ts
Due: none

chore: refactor(features): migrate FeaturesPage to RTK Query and eliminate legacy stores (#6428)
  frontend/common/hooks/useFeatureListWithApiKey.ts
  frontend/common/hooks/usePageTracking.ts
  frontend/common/hooks/useProjectEnvironments.ts
  frontend/common/providers/Permission.tsx
  frontend/common/services/useFeatureState.ts
  frontend/common/services/useFeatureVersion.ts
  frontend/common/services/useProjectFlag.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/featureFilters.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/featureFilterParams.ts
  frontend/global.d.ts
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/EnvironmentDocumentCodeHelp.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/FeatureRowSkeleton.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/metrics/constants.ts
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/features/FeatureMetricsSection.tsx
  frontend/web/components/pages/features/FeaturesEmptyState.tsx
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
  frontend/web/components/pages/features/components/FeaturesSDKIntegration.tsx
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/pages/features/components/index.ts
  frontend/web/components/pages/features/hooks/useFeatureFilters.ts
  frontend/web/components/pages/features/hooks/useRemoveFeatureWithToast.ts
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
  frontend/web/components/pages/features/index.ts
  frontend/web/components/pages/features/types.ts
  frontend/web/components/tables/TableGroupsFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/routes.js
  frontend/web/styles/components/_feature-row-skeleton.scss
  frontend/web/styles/components/_index.scss
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Revert "chore: refactor(features): migrate FeaturesPage to RTK Query and elim…"
  frontend/common/hooks/useFeatureListWithApiKey.ts
  frontend/common/hooks/usePageTracking.ts
  frontend/common/hooks/useProjectEnvironments.ts
  frontend/common/providers/Permission.tsx
  frontend/common/services/useFeatureState.ts
  frontend/common/services/useFeatureVersion.ts
  frontend/common/services/useProjectFlag.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/featureFilters.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/featureFilterParams.ts
  frontend/global.d.ts
  frontend/web/components/CompareEnvironments.js
  frontend/web/components/CompareFeatures.js
  frontend/web/components/EnvironmentDocumentCodeHelp.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/feature-summary/FeatureRowSkeleton.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/metrics/constants.ts
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/components/FeatureMetricsSection.tsx
  frontend/web/components/pages/features/components/FeaturesEmptyState.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
  frontend/web/components/pages/features/components/FeaturesSDKIntegration.tsx
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
  frontend/web/components/pages/features/components/index.ts
  frontend/web/components/pages/features/hooks/useFeatureFilters.ts
  frontend/web/components/pages/features/hooks/useRemoveFeatureWithToast.ts
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
  frontend/web/components/pages/features/index.ts
  frontend/web/components/pages/features/types.ts
  frontend/web/components/tables/TableGroupsFilter.tsx
  frontend/web/components/tables/TableTagFilter.tsx
  frontend/web/routes.js
  frontend/web/styles/components/_feature-row-skeleton.scss
  frontend/web/styles/components/_index.scss
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix: handle versioned environments in feature toggle
  frontend/web/components/pages/features/FeaturesPage.tsx
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
Due: none

fix: add null checks for keyedEnvironmentFeatures in versioned flow
  frontend/common/stores/feature-list-store.ts
Due: none

fix: align feature_segment filter for versioned environment toggle
  frontend/common/services/useFeatureVersion.ts
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
Due: none

feat: add optimistic update and cache invalidation for versioned toggle
  frontend/common/services/useFeatureVersion.ts
Due: none

fix: initialize FeatureListStore for CreateFlag modal in versioned environments
  frontend/web/components/pages/features/FeaturesPage.tsx
Due: none

fix: explicitly set is_archived=false to exclude archived features
  frontend/common/utils/featureFilterParams.ts
Due: none

fix: remove-zombie-process-on-port-3000
  .github/actions/e2e-tests/action.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
Due: none

fix: kill-testcafe-server-on-init-failure
  frontend/e2e/index.cafe.js
Due: none

test(e2e): add versioned row toggle test and fix toggleFeature selector
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/versioning-tests.ts
Due: none

test(e2e): add endpoint verification for versioned toggle
  frontend/e2e/tests/versioning-tests.ts
Due: none

fix: use api_key instead of id for environment lookup in toggle
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
Due: none

feat: Migrate testcafe tests to playwright
  frontend/.testcaferc.js
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/helpers/helpers.ts
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/environment-permission-test.spec.ts
  frontend/e2e/tests/environment-permission-test.ts
  frontend/e2e/tests/environment-test.spec.ts
  frontend/e2e/tests/environment-test.ts
  frontend/e2e/tests/flag-tests.spec.ts
  frontend/e2e/tests/flag-tests.ts
  frontend/e2e/tests/global.setup.ts
  frontend/e2e/tests/global.teardown.ts
  frontend/e2e/tests/initialise-tests.spec.ts
  frontend/e2e/tests/initialise-tests.ts
  frontend/e2e/tests/invite-test.spec.ts
  frontend/e2e/tests/invite-test.ts
  frontend/e2e/tests/organisation-permission-test.spec.ts
  frontend/e2e/tests/organisation-permission-test.ts
  frontend/e2e/tests/project-permission-test.spec.ts
  frontend/e2e/tests/project-permission-test.ts
  frontend/e2e/tests/project-test.spec.ts
  frontend/e2e/tests/project-test.ts
  frontend/e2e/tests/roles-test.spec.ts
  frontend/e2e/tests/roles-test.ts
  frontend/e2e/tests/segment-test.spec.ts
  frontend/e2e/tests/segment-test.ts
  frontend/e2e/tests/serve-bundle.setup.ts
  frontend/e2e/tests/versioning-tests.spec.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

update workflows to use the new Playwright test runner
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
Due: none

update
  .github/workflows/platform-docker-build-test-publish.yml
Due: none

test dockerfile
  frontend/Dockerfile.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

install firefox browser
  .github/workflows/platform-docker-build-test-publish.yml
  frontend/Dockerfile.e2e
  frontend/e2e/tests/organisation-test.spec.ts
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore: finalize Playwright migration configuration
  .github/workflows/.reusable-docker-e2e-tests.yml
  frontend/.gitignore
  frontend/Dockerfile-base.e2e
  frontend/bin/upload-playwright-videos.js
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Update compliance report format
  AGENTS.md
Due: none

fix: pass numeric environmentId for versioned toggle API calls
  frontend/common/services/useFeatureVersion.ts
  frontend/common/types/requests.ts
  frontend/web/components/pages/features/hooks/useToggleFeatureWithToast.ts
Due: none

feat(testing): add Jest unit testing infrastructure
  frontend/common/utils/__tests__/featureFilterParams.test.ts
  frontend/common/utils/format.ts
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

ci: add frontend PR workflow with unit tests
  .github/workflows/frontend-pull-request.yml
Due: none

docs: replace with improved data model diagram
  docs/static/img/flagsmith-model.svg
Due: none

docs: replace with improved data model diagram (#6433)
  docs/static/img/flagsmith-model.svg
Due: none

docs: reduce horizontal padding
  docs/static/img/flagsmith-model.svg
Due: none

Bump urllib3 dependency
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

deps: bump urllib3 dependency (#6435)
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

chore(main): release 2.205.3
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

chore(main): release 2.205.3 (#6436)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

Bump djoser and social auth app django
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

docs: reduce horizontal padding (#6434)
  docs/static/img/flagsmith-model.svg
Due: none

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
