Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

chore: Platform release 2.69.0 (#2695)
  .release-please-manifest.json
  CHANGELOG.md
  api/CHANGELOG.md
  api/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore: Platform release
  .release-please-manifest.json
  api/CHANGELOG.md
  api/pyproject.toml
  frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Reset changelog
  api/CHANGELOG.md
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Reset changelog
  .prettierignore
  api/CHANGELOG.md
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Allow allowed_projects to be null
  api/organisations/migrations/0046_allow_allowed_projects_to_be_null.py
  api/organisations/models.py
Due: none

Add test
  api/organisations/tests/test_views.py
Due: none

Set default as 1 project to account for free users
  api/organisations/migrations/0046_allow_allowed_projects_to_be_null.py
  api/organisations/models.py
Due: none

Add python migration code to fix existing data
  api/organisations/migrations/0046_allow_allowed_projects_to_be_null.py
Due: none

Revert "chore(release-please): add component to tags for sub packages (#2673)"
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-docker-publish-image.yml
  .github/workflows/frontend-docker-publish-image.yml
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  .github/workflows/platform-docker-publish-image.yml
  release-please-config.json
Due: none

Revert "chore: release please titles (#2635)"
  release-please-config.json
Due: none

Revert "ci: release please all the packages (#2630)"
  .release-please-manifest.json
  release-please-config.json
Due: none

Change to simple release type
  release-please-config.json
Due: none

Remove sub package changelog files
  api/CHANGELOG.md
  frontend/CHANGELOG.md
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Add version.txt
  version.txt
Due: none

chore(release-please): revert sub packages and change to simple release type (#2718)
  .github/workflows/api-deploy-production-ecs.yml
  .github/workflows/api-docker-publish-image.yml
  .github/workflows/frontend-docker-publish-image.yml
  .github/workflows/frontend-e2e-docker-publish-image.yml
  .github/workflows/platform-docker-publish-all-features-image.yml
  .github/workflows/platform-docker-publish-image.yml
  .release-please-manifest.json
  api/CHANGELOG.md
  frontend/CHANGELOG.md
  release-please-config.json
  version.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix: make `OrganisationSubscriptionInformationCache.allowed_projects` nullable (#2716)
  api/organisations/migrations/0046_allow_allowed_projects_to_be_null.py
  api/organisations/models.py
  api/organisations/tests/test_views.py
Due: none

fix: Announcement desing
  frontend/web/components/InfoMessage.js
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
Due: none

Fix error when addons is null
  api/organisations/chargebee/chargebee.py
  api/tests/unit/organisations/chargebee/conftest.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Due: none

fix: Added a defualt value for threshold in calculateRemainingLimitsPercentage
  frontend/common/utils/utils.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/SegmentsPage.tsx
Due: none

fix: Announcement desing (#2721)
  frontend/web/components/InfoMessage.js
  frontend/web/styles/new/_variables-new.scss
  frontend/web/styles/project/_alert.scss
Due: none

fix: change percentage from 30 to 70
  frontend/web/components/App.js
Due: none

fix: Button to go to the link doesnt close the ad
  frontend/web/components/InfoMessage.js
Due: none

Typing fixes
  api/tests/unit/organisations/chargebee/conftest.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Due: none

fix: prevent error when addons is null (#2722)
  api/organisations/chargebee/chargebee.py
  api/tests/unit/organisations/chargebee/conftest.py
  api/tests/unit/organisations/chargebee/test_unit_chargebee_chargebee.py
Due: none

fix: Button to go to the link doesnt close the announcement (#2724)
  frontend/web/components/InfoMessage.js
Due: none

chore(main): release 2.69.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

chore(main): release 2.69.1 (#2719)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

test: Test docker layers caching with buildx bake
  .github/workflows/platform-pull-request.yml
  frontend/Dockerfile.e2e
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test: Update unit tests and move seed data logic to a class
  api/e2etests/e2e_seed_data.py
  api/e2etests/tests/end_to_end/test_integration_e2e_tests.py
  api/e2etests/views.py
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
Due: none

test: Split segment 2 into 2 parts
  .github/workflows/platform-pull-request.yml
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/segment-test.ts
Due: none

test: Enable payed runner for API unit tests and add fixed cache scope
  .github/workflows/api-pull-request.yml
  .github/workflows/platform-pull-request.yml
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test: Fix job description
  .github/workflows/platform-pull-request.yml
Due: none

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
