Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

Add JSON Project reference (#2109)
  frontend/web/components/pages/ProjectSettingsPage.js
Due: none

Audit fix (#2107)
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack/plugins.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Ensure new_state is added when new_enabled_state provided (#2111)
  api/edge_api/identities/tasks.py
  api/tests/unit/edge_api/identities/test_unit_edge_api_identities_tasks.py
Due: none

Remove group_admin attribute from list groups (#2101)
  api/organisations/permissions/serializers.py
  api/projects/serializers.py
  api/users/serializers.py
  api/users/views.py
Due: none

Add comment / tweak the logic
  api/task_processor/models.py
Due: none

Hide Admin header when group_admin flag is disabled
  frontend/web/components/modals/CreateGroup.js
Due: none

chore: bump flag engine (#2108)
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Handle start-up plan slugs
  frontend/common/utils/utils.tsx
Due: none

Handle start-up plan slugs (#2114)
  frontend/common/utils/utils.tsx
Due: none

cross-platform dev script
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Migrate all commands to npx
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Remove node prefix from npx
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

cross-platform dev script (#2115)
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Update static flags
  .github/workflows/frontend-update-static-flags.yml
Due: none

Simplified Git stuff
  .github/workflows/frontend-update-static-flags.yml
Due: none

Only run on weekdays
  .github/workflows/frontend-update-static-flags.yml
Due: none

Use simplejson
  api/requirements.in
  api/requirements.txt
  api/task_processor/models.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Add unit test
  api/tests/unit/task_processor/test_unit_task_processor_models.py
Due: none

pip-compile using 3.11
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Remove broken fixtures
  api/app/fixtures/init_data.yaml
Due: none

Avoid additional configuration for unit tests
  .github/workflows/api-pull-request.yml
  api/tests/unit/task_processor/test_unit_task_processor_decorators.py
Due: none

Support domain override from environment (#1916)
  api/app/settings/common.py
  api/core/helpers.py
  api/tests/unit/core/test_helpers.py
Due: none

fix test
  api/tests/unit/permissions/permission_service/test_is_user_environment_admin.py
Due: none

Improvement/onboarding dev env tweaks (#2121)
  .github/workflows/api-pull-request.yml
  api/app/fixtures/init_data.yaml
  api/tests/unit/task_processor/test_unit_task_processor_decorators.py
Due: none

Fix issue generating task to write AuditLog for Edge Identity Overrides (#2119)
  api/requirements.in
  api/requirements.txt
  api/task_processor/models.py
  api/tests/unit/task_processor/test_unit_task_processor_models.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Fix unsaved invites being sent
  api/organisations/invites/models.py
  api/tests/unit/organisations/invites/test_unit_invites_models.py
Due: none

Expose access logs for E2E
  .github/actions/run-local-api/action.yml
Due: none

Remove unnecessary workflows
  .github/workflows/api-pull-request.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/uffizzi-build.yml
  .github/workflows/uffizzi-preview.yml
Due: none

Don't detach from the container
  .github/actions/run-local-api/action.yml
Due: none

Migrate Invite model to django_lifecycle
  api/organisations/invites/models.py
Due: none

Support domain override from environment (#2120)
  api/app/settings/common.py
  api/core/helpers.py
  api/organisations/invites/models.py
  api/tests/unit/core/test_helpers.py
  api/tests/unit/organisations/invites/test_unit_invites_models.py
Due: none
