Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

ci(Tests): Migrate API Pull Request workflow to Depot CI
  .depot/workflows/api-pull-request.yml
Due: none

Make linters happy
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Due: none

feat(CockroachDB support): Switch to `JSONField` for SDK metrics labels (#5833)
  api/app_analytics/migrations/0006_add_labels.py
  api/app_analytics/migrations/0008_labels_jsonb.py
  api/app_analytics/models.py
  api/tests/conftest.py
  api/tests/unit/app_analytics/test_migrations.py
Due: none

Fix environment id matches
  frontend/.claude/commands/e2e-ee.md
  frontend/.claude/commands/e2e-oss.md
  frontend/.claude/commands/e2e.md
  frontend/.claude/context/e2e.md
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
  frontend/web/components/modals/create-feature/tabs/SegmentOverridesTab.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
Due: none

merge conflict
  frontend/web/components/modals/create-feature/index.tsx
Due: none

Type fixes
  frontend/.claude/commands/e2e-ee.md
  frontend/.claude/commands/e2e-oss.md
  frontend/.claude/commands/e2e.md
  frontend/.claude/context/e2e.md
  frontend/common/providers/Permission.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/create-feature/components/FeatureUpdateSummary.tsx
  frontend/web/components/modals/create-feature/index.tsx
  frontend/web/components/modals/create-feature/tabs/CreateFeatureTab.tsx
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

refactor(IdentityOverridesTab): migrate to RTK Query
  frontend/common/services/useIdentityOverride.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/RemoveUserOverride.tsx
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
Due: none

Fix coverage
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Due: none

Improve interface
  api/organisations/subscription_info_cache.py
  api/organisations/tasks.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
Due: none

Fix note
  api/organisations/subscription_info_cache.py
Due: none

fix(API Usage): Update subscription cache from database-backed usage (#7024)
  api/app_analytics/analytics_db_service.py
  api/organisations/subscription_info_cache.py
  api/organisations/subscriptions/constants.py
  api/organisations/tasks.py
  api/sales_dashboard/urls.py
  api/sales_dashboard/views.py
  api/tests/unit/app_analytics/test_analytics_db_service.py
  api/tests/unit/organisations/test_unit_organisations_subscription_info_cache.py
  api/tests/unit/organisations/test_unit_organisations_tasks.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Due: none

chore(main): release 2.224.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

chore(main): release 2.224.0 (#7031)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

Clean up className variables that are no longer used
  frontend/web/components/navigation/TabMenu/TabButton.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/styles/components/_tabs.scss
Due: none

fix(IdentityOverridesTab): fix layout and refresh behaviour
  frontend/web/components/modals/create-feature/tabs/IdentityOverridesTab.tsx
Due: none

fix(gitlab): allow hyphens in GitLab project paths
  api/features/feature_external_resources/views.py
  api/integrations/gitlab/tasks.py
  api/tests/unit/integrations/gitlab/test_unit_gitlab_gitlab.py
Due: none

refactor(vcs): extract shared comment generation into integrations/vcs/
  api/integrations/github/github.py
  api/integrations/gitlab/gitlab.py
  api/integrations/vcs/__init__.py
  api/integrations/vcs/comments.py
  api/integrations/vcs/constants.py
  api/tests/unit/integrations/gitlab/test_unit_gitlab_gitlab.py
Due: none

docs(pgbouncer): add credentialsFromExistingSecret usage to Kubernetes guide
  docs/docs/deployment-self-hosting/hosting-guides/kubernetes-openshift.md
Due: none

refactor(vcs): extract shared feature state collection helper
  api/features/feature_external_resources/models.py
  api/integrations/vcs/helpers.py
Due: none

refactor(frontend): use integration flags instead of hardcoded key names
  frontend/web/components/IntegrationList.tsx
Due: none

docs(pgbouncer): add credentialsFromExistingSecret usage to Kubernete… (#7037)
  docs/docs/deployment-self-hosting/hosting-guides/kubernetes-openshift.md
Due: none

chore: Update .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

fix: use .values("id").distinct().count() in platform_hub queries
  api/platform_hub/services.py
Due: none

fix: use .values("id").distinct().count() in platform_hub for Oracle compatibility (#7041)
  api/platform_hub/services.py
Due: none

fix: align unsaved changes badge in tab buttons across all modals
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/modals/create-experiment/index.js
  frontend/web/components/navigation/TabMenu/TabButton.tsx
  frontend/web/styles/components/_tabs.scss
Due: none

fix: align unsaved changes badge in Edit Feature modal tabs
  frontend/web/components/modals/create-feature/index.tsx
Due: none

feat: added-tracking-on-code-references-actions
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/FeatureCodeReferencesContainer.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/CodeReferenceItem.tsx
  frontend/web/components/feature-page/FeatureNavTab/CodeReferences/components/RepoCodeReferencesSection.tsx
  frontend/web/components/modals/create-feature/index.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: working-functional-prototype
  frontend/api/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/App.js
  frontend/web/components/GramChat.tsx
  frontend/web/shims/remark-gfm.cjs
  frontend/webpack.config.js
  frontend/webpack/loaders.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: gated-behind-feature-flag-and-auth
  frontend/package.json
  frontend/web/components/App.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: use-user-id-instead-of-mail
  frontend/api/index.js
  frontend/package.json
  frontend/web/components/GramChat.tsx
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: tagged-v1-endpoints-for-mcp-usage
  api/features/versioning/views.py
  api/features/views.py
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: explicitly-mention-versioning-in-tools-description
  api/features/versioning/views.py
  api/features/views.py
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: deps
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: initial-dot-setup
  api/app/settings/common.py
  api/app/urls.py
  api/oauth2_metadata/__init__.py
  api/oauth2_metadata/tasks.py
  api/oauth2_metadata/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/oauth2_metadata/__init__.py
  api/tests/unit/oauth2_metadata/test_views.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: updated-list-environment-feature-description
  api/features/views.py
Due: none

feat: removed-redundant-endpoint
  api/features/views.py
Due: none

feat: node-test-application
  api/app/urls.py
  api/oauth2_metadata/views.py
  api/oauth2_test_server.mjs
  api/tests/unit/oauth2_metadata/test_views.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: lint
  api/tests/unit/oauth2_metadata/test_views.py
Due: none
