Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

Fix/GitHub 884/mv feature option (#1049)
  api/features/multivariate/serializers.py
  api/features/multivariate/views.py
  api/features/serializers.py
  api/features/tests/test_views.py
  api/features/views.py
  api/projects/urls.py
  api/tests/integration/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_view.py
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/integration/features/multivariate/test_integration_multivariate.py
  api/tests/integration/helpers.py
  api/users/models.py
Due: none

Fixes/e2e edge tests (#1135)
  frontend/common/stores/organisation-store.js
  frontend/e2e/cafe/segments.cafe.js
  frontend/e2e/init.cafe.js
  frontend/web/components/Aside.js
Due: none

Don't get change requests when there's no environment context
  frontend/common/stores/change-requests-store.js
Due: none

Extract logic for running local API because DRY
  .github/actions/run-local-api/action.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
Due: none

Don't get change requests when there's no environment context
  frontend/web/components/Aside.js
Due: none

improvement/e2e-tests-for-main-branch (#1130)
  .github/actions/run-local-api/action.yml
  .github/workflows/platform-pull-request.yml
  .github/workflows/platform-test-merge-to-main.yml
Due: none

Upgrade flag engine 2.0.6
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Fix tests
  api/environments/dynamodb/tests/test_migrator.py
  api/tests/integration/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_view.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
  api/tests/unit/environments/test_environments_views_sdk_environment.py
Due: none

Fix remove integration copy
  frontend/web/components/IntegrationList.js
Due: none

Semver and regex validation
  frontend/common/utils/utils.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/modals/CreateSegment.js
  frontend/web/components/modals/Rule.js
  frontend/web/styles/project/_forms.scss
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Semver and regex validation (#1148)
  frontend/common/utils/utils.js
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/modals/CreateSegment.js
  frontend/web/components/modals/Rule.js
  frontend/web/styles/project/_forms.scss
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Upgrade flag engine 2.0.6 (#1147)
  api/environments/dynamodb/tests/test_migrator.py
  api/requirements.txt
  api/tests/integration/conftest.py
  api/tests/integration/edge_api/identities/test_edge_identity_featurestates_view.py
  api/tests/integration/edge_api/identities/test_edge_identity_viewset.py
  api/tests/unit/environments/test_environments_views_sdk_environment.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

debugging build
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

More debugging
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

Fix private cloud docker build
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

Fix private cloud image build (#1150)
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

Add xmlsec to private cloud builds and re-add google-re2 to all dockerfiles
  .github/workflows/platform-docker-publish-all-features-image.yml
  Dockerfile
  api/Dockerfile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

remove debugging
  Dockerfile
Due: none

temporarily add branch for workflow
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

Change build arg syntax
  .github/workflows/platform-docker-publish-all-features-image.yml
Due: none

Add xmlsec to private cloud builds and re-add google-re2 to all dockerfiles (#1151)
  .github/workflows/platform-docker-publish-all-features-image.yml
  Dockerfile
  api/Dockerfile
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

added Security.md
  SECURITY.md
Due: none

Logger for e2e
  frontend/common/project.js
  frontend/e2e/cafe/environment.cafe.js
  frontend/e2e/cafe/invite.test.cafe.js
  frontend/e2e/cafe/project.cafe.js
  frontend/e2e/cafe/segments.cafe.js
  frontend/e2e/helpers.cafe.js
  frontend/e2e/init.cafe.js
Due: none

Logger for e2e (#1154)
  frontend/common/project.js
  frontend/e2e/cafe/environment.cafe.js
  frontend/e2e/cafe/invite.test.cafe.js
  frontend/e2e/cafe/project.cafe.js
  frontend/e2e/cafe/segments.cafe.js
  frontend/e2e/helpers.cafe.js
  frontend/e2e/init.cafe.js
Due: none

stringify test cafe logs
  frontend/e2e/cafe/environment.cafe.js
  frontend/e2e/cafe/invite.test.cafe.js
  frontend/e2e/cafe/project.cafe.js
  frontend/e2e/cafe/segments.cafe.js
  frontend/e2e/init.cafe.js
Due: none

chore/bump-pyjwt-dependency
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

chore/bump-pyjwt-dependency (#1155)
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster
