Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

support or logic for meta keys
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  frontend/e2e/index.cafe.js
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

revert to 3000, remove redundant compose file
  docker/common/e2e/.e2e-tests.yml
  frontend/docker-compose-e2e-tests.yml
  frontend/e2e/index.cafe.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: redesigned-payload-as-flat-list-of-metrics
  api/environments/models.py
  api/metrics/constants.py
  api/metrics/metrics_service.py
  api/metrics/serializers.py
  api/metrics/types.py
  api/metrics/views.py
  api/tests/unit/environments/test_environment_metrics_views.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Due: none

feat: improved-typing
  api/environments/models.py
  api/environments/views.py
  api/metrics/serializers.py
  api/metrics/views.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Due: none

feat: removed-unused-env-metrics-entities
  api/metrics/constants.py
  api/metrics/types.py
Due: none

fix: bumped-released-common-version
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

don't auto logout after invite tests
  frontend/e2e/init.cafe.js
Due: none

cleanup
  frontend/e2e/init.cafe.js
Due: none

fix: regenerated-lock
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

correct destructuring
  frontend/e2e/index.cafe.js
Due: none

further cleanup
  frontend/e2e/index.cafe.js
Due: none

fix: deleted-unused-files
  frontend/e2e/cafe/environment.cafe.js
  frontend/e2e/cafe/invite.test.cafe.js
  frontend/e2e/cafe/project.cafe.js
  frontend/e2e/cafe/segments.cafe.js
Due: none

fix(e2e): Missing RBAC tests (#5419)
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/manual-e2e-tests.yml
  .github/workflows/platform-docker-build-test-publish.yml
  .github/workflows/platform-pull-request.yml
  docker/common/e2e/.e2e-tests.yml
  frontend/docker-compose-e2e-tests.yml
  frontend/e2e/cafe/environment.cafe.js
  frontend/e2e/cafe/invite.test.cafe.js
  frontend/e2e/cafe/project.cafe.js
  frontend/e2e/cafe/segments.cafe.js
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/invite-test.ts
  frontend/e2e/tests/roles-test.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/App.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix: added-tests-to-assert-correct-numbers-of-metadata-created
  api/tests/unit/segments/test_unit_segments_views.py
Due: none

Improve wording
  docs/docs/deployment/configuration/task-processor.md
Due: none

feat: Inspect User Permissions
  frontend/web/components/UserAction.tsx
Due: none

creates inspect permissions
  frontend/common/services/useUserPermissions.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/BooleanDotIndicator.tsx
  frontend/web/components/DerivedPermissionsList.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/Icon.tsx
  frontend/web/components/InspectPermissions.tsx
  frontend/web/components/PermissionRow.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Due: none

adds tags for admin
  frontend/common/services/useUserPermissions.ts
  frontend/common/types/responses.ts
  frontend/web/components/DerivedPermissionsList.tsx
  frontend/web/components/InspectPermissions.tsx
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/PermissionRow.tsx
Due: none

adds useUserPermissions
  frontend/common/services/useUserPermissions.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/FeatureAction.tsx
  frontend/web/components/InspectPermissions.tsx
  frontend/web/components/UserAction.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Due: none

adds tooltip helper to debug permissions
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/PermissionRow.tsx
Due: none

fix tags and cursor
  frontend/web/components/InspectPermissions.tsx
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/PermissionRow.tsx
Due: none

Set up the task processor database from the entrypoint
  api/scripts/run-docker.sh
Due: none

fix: clean-up-roles-in-teardown
  api/e2etests/e2e_seed_data.py
Due: none

exclude e2e from coverage
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: added-edge-identity-overrides-metric
  api/environments/dynamodb/wrappers/identity_wrapper.py
  api/environments/models.py
  api/metrics/constants.py
  api/metrics/metrics_service.py
  api/metrics/serializers.py
  api/metrics/types.py
Due: none

feat: updated-metrics-tests
  api/metrics/metrics_service.py
  api/tests/unit/metrics/test_unit_metrics_service.py
Due: none

use custom test selectors for project selection screen
  frontend/common/utils/utils.tsx
  frontend/e2e/tests/roles-test.ts
  frontend/web/components/ProjectManageWidget.tsx
Due: none

revert teardown changes
  api/e2etests/e2e_seed_data.py
Due: none

fix(e2e): Incorrect project selected in RBAC E2E on staging (#5433)
  api/pyproject.toml
  frontend/common/utils/utils.tsx
  frontend/e2e/tests/roles-test.ts
  frontend/web/components/ProjectManageWidget.tsx
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: added-dynamodb-wrapper-test
  api/tests/unit/environments/dynamodb/wrappers/test_unit_dynamodb_identity_wrapper.py
Due: none

fix: metadata-feature-changes-erases-existing-value (#5362)
  api/environments/serializers.py
  api/features/serializers.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/segments/test_unit_segments_views.py
  api/util/drf_writable_nested/serializers.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

chore(main): release 2.177.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

ci: upload-trivy-sarif-artifact
  .github/workflows/platform-docker-trivy-scan.yml
Due: none

add `artifact-name`
  .github/workflows/platform-docker-trivy-scan.yml
Due: none

Allow disabling fetching tasks from both databases
  api/app/settings/common.py
  docs/docs/deployment/configuration/task-processor.md
Due: none

fix: permissions not revoked after view project disabled Ref: #5432
  frontend/common/utils/utils.tsx
  frontend/web/components/EditPermissions.tsx
Due: none

close model on confirm
  frontend/web/components/EditPermissions.tsx
Due: none
