Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

Hide signup url/link on ALLOW_SIGNUP=false|0
  frontend/common/project.js
  frontend/web/components/pages/HomePage.js
Due: none

Hide signup url/link on ALLOW_SIGNUP=false|0 (#545)
  frontend/common/project.js
  frontend/web/components/pages/HomePage.js
Due: none

Add and not rule
  frontend/web/components/modals/CreateSegment.js
  frontend/web/styles/project/_buttons.scss
Due: none

Change order of buttons
  frontend/web/components/modals/CreateSegment.js
Due: none

Fix add any rule
  frontend/web/components/modals/CreateSegment.js
Due: none

Not operators (#546)
  frontend/web/components/modals/CreateSegment.js
  frontend/web/styles/project/_buttons.scss
Due: none

fix label detection of protected tags
  frontend/common/stores/tags-store.js
Due: none

Remove flag_owners flag
  frontend/web/components/modals/CreateFlag.js
Due: none

Force 2FA
  frontend/common/stores/account-store.js
  frontend/common/utils/utils.js
  frontend/web/components/App.js
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Due: none

Force 2FA (#547)
  frontend/common/stores/account-store.js
  frontend/common/utils/utils.js
  frontend/web/components/App.js
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
Due: none

update initialise tests
  frontend/e2e/helpers.js
  frontend/e2e/initialise.js
  frontend/e2e/tests/features.test.js
  frontend/nightwatch.conf.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

use chrome 96
  .github/workflows/platform-pull-request.yml
Due: none

update npm, re-add headless
  frontend/nightwatch.conf.js
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

update npm
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

re-add segment age test
  frontend/e2e/initialise.js
  frontend/e2e/tests/age-segment.test.js
Due: none

update chrome versions
  .github/workflows/api-deploy-production.yml
  .github/workflows/api-deploy-staging.yml
  .github/workflows/frontend-deploy-production.yml
Due: none

Upgrade engine
  api/requirements.txt
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Add endpoint to get environment document
  api/environments/tests/test_views.py
  api/environments/views.py
Due: none

Fix issues from engine 1.4.0 upgrade
  api/audit/signals.py
  api/tests/unit/audit/test_unit_audit_signals.py
Due: none

Upgrade engine and add endpoint to get environment document (#549)
  api/audit/signals.py
  api/environments/tests/test_views.py
  api/environments/views.py
  api/requirements.txt
  api/tests/unit/audit/test_unit_audit_signals.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Parallel tests (#548)
  .github/workflows/api-deploy-production.yml
  .github/workflows/api-deploy-staging.yml
  .github/workflows/frontend-deploy-production.yml
  .github/workflows/platform-pull-request.yml
  api/app/settings/common.py
  api/app/settings/test.py
  frontend/common/project.js
  frontend/common/stores/organisation-store.js
  frontend/e2e/.gitignore
  frontend/e2e/custom-commands/apiGet.js
  frontend/e2e/custom-commands/assertValue.js
  frontend/e2e/custom-commands/clearInputValue.js
  frontend/e2e/custom-commands/waitAndClick.js
  frontend/e2e/custom-commands/waitAndSet.js
  frontend/e2e/helpers.js
  frontend/e2e/initialise.js
  frontend/e2e/tests/environment.test.js
  frontend/e2e/tests/invite.test.js
  frontend/e2e/tests/project.test.js
  frontend/e2e/tests/segments.test.js
  frontend/nightwatch.conf.js
  frontend/package-lock.json
  frontend/package.json
  frontend/server/index.js
  frontend/tests/features.test.js
  frontend/tests/index.test.js
  frontend/tests/initial-cleanup.test.js
  frontend/tests/initialise.test.js
  frontend/tests/login-fail.test.js
  frontend/tests/project.test.js
  frontend/tests/register-fail.test.js
  frontend/tests/segments.test.js
  frontend/tests/slack-upload.test.js
  frontend/tests/users.test.js
  frontend/web/components/App.js
  frontend/web/components/FeatureRow.js
  frontend/web/components/pages/HomePage.js
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/routes.js
  frontend/webpack/webpack.config.prod.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix bundle django
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack/webpack.config.django.prod.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix bundle django (#550)
  frontend/package-lock.json
  frontend/package.json
  frontend/webpack/webpack.config.django.prod.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

fix bundle django
  frontend/webpack/webpack.config.django.prod.js
Due: none

fix bundle django (#551)
  frontend/webpack/webpack.config.django.prod.js
Due: none

Updated to node 16
  Dockerfile
Due: none

Fix html-loader issue
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Updated to node 16 (#552)
  Dockerfile
Due: none

Bump node and chrome versions
  frontend/Dockerfile.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend
