Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

fix: Set Hubspot cookie name from request body (#4880)
  api/integrations/lead_tracking/hubspot/services.py
  api/tests/unit/organisations/invites/test_unit_invites_views.py
  api/tests/unit/organisations/test_unit_organisations_views.py
  api/tests/unit/users/test_unit_users_views.py
Due: none

deps: bump workflow and common (#4879)
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

fix: add migration to clean up corrupt data caused by feature versioning (#4873)
  api/features/versioning/migrations/0005_fix_scheduled_fs_data_issue_caused_by_enabling_versioning.py
  api/tests/unit/features/versioning/test_unit_versioning_migrations.py
Due: none

feat: Scheduled segment overrides (#4805)
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/modals/CreateFlag.js
Due: none

Integrate new API
  frontend/common/services/useProject.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/PermissionsSummaryList.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/RolePermissionsList.tsx
  frontend/web/components/UserGroupList.tsx
  frontend/web/components/UserSelect.js
  frontend/web/styles/project/_modals.scss
Due: none

Revert check for edit change request
  frontend/web/components/pages/ChangeRequestPage.js
  frontend/web/components/pages/ChangeRequestsPage.js
Due: none

Lint
  frontend/web/components/modals/CreateFlag.js
Due: none

Adjust sdk url where api url is relative
  frontend/common/constants.ts
Due: none

Update docs
  docs/docs/system-administration/rbac.md
Due: none

feat: combine value + segment change requests for versioned environments (#4738)
  frontend/common/dispatcher/app-actions.js
  frontend/common/providers/FeatureListProvider.js
  frontend/common/services/useFeatureVersion.ts
  frontend/common/stores/feature-list-store.ts
  frontend/web/components/modals/CreateFlag.js
Due: none

feat: Enterprise licensing (#3624)
  api/app/settings/common.py
  api/app/settings/test.py
  api/organisations/models.py
  api/organisations/subscriptions/metadata.py
  api/organisations/urls.py
  api/poetry.lock
  api/tests/unit/features/versioning/test_unit_versioning_views.py
  api/tests/unit/organisations/test_unit_organisations_models.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Fix code scanning alert no. 386: Incomplete URL substring sanitization
  frontend/common/constants.ts
Due: none

Update deps
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update tests
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/index.cafe.js
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/environment-test.ts
  frontend/e2e/tests/project-permission-test.ts
  frontend/package.json
  frontend/web/components/pages/HomeAside.tsx
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Don't import url
  frontend/common/constants.ts
Due: none

Send hubspot token to register endpoints
  frontend/common/stores/account-store.js
Due: none

Merge tag based roles
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/environment-permission-test.ts
  frontend/e2e/tests/environment-test.ts
  frontend/e2e/tests/project-permission-test.ts
  frontend/web/components/pages/UserPage.tsx
Due: none

Merge tag based roles
  frontend/e2e/init.cafe.js
Due: none

Adjust hubsoit urls
  frontend/common/stores/account-store.js
Due: none

Remove prettier
  .github/workflows/docs-pull-request.yml
Due: none

Fix bad merge with docusaurus plugins
  docs/docusaurus.config.ts
Due: none

Remove as_completed
  api/environments/dynamodb/wrappers/environment_wrapper.py
Due: none

Delete mypy.ini
  api/mypy.ini
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Add mypy concerns to pyproject.toml
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Consolidate themes
  docs/docusaurus.config.ts
Due: none

Upgrade versions
  docs/package-lock.json
  docs/package.json
Due: none

add tests
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/init.cafe.js
  frontend/e2e/tests/organisation-permission-test.ts
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Due: none

Fix button style
  frontend/web/components/base/forms/Button.tsx
Due: none

fix: button style (#4884)
  frontend/web/components/base/forms/Button.tsx
Due: none

Update mypy checking
  api/scripts/mypy_baseline.txt
  api/scripts/mypy_check.py
Due: none

Add type ignores
  api/util/mappers/sdk.py
  api/util/pydantic.py
Due: none

test: Segment matching for sub rules and conditions (#4776)
  api/poetry.lock
  api/pyproject.toml
  api/tests/unit/segments/test_unit_segments_views.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
