Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

feat: removed-fake-data
  frontend/common/services/usage-test.js
  frontend/common/services/useOrganisationUsage.ts
Due: none

feat: always show feature health tab (#5987)
  frontend/common/constants.ts
  frontend/common/hooks/useOverflowVisibleCount.ts
  frontend/package.json
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/EnvironmentDocumentCodeHelp.tsx
  frontend/web/components/InlineModal.tsx
  frontend/web/components/IntegrationList.tsx
  frontend/web/components/PermissionsTabs.tsx
  frontend/web/components/base/DropdownMenu.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/base/forms/Tabs.tsx
  frontend/web/components/diff/DiffFeature.tsx
  frontend/web/components/diff/DiffSegment.tsx
  frontend/web/components/diff/DiffSegmentOverrides.tsx
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateGroup.tsx
  frontend/web/components/modals/CreateRole.tsx
  frontend/web/components/modals/CreateSAML.tsx
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/navigation/OverflowNav.tsx
  frontend/web/components/navigation/TabMenu/TabButton.tsx
  frontend/web/components/navigation/TabMenu/TabItem.tsx
  frontend/web/components/navigation/TabMenu/Tabs.tsx
  frontend/web/components/pages/AccountSettingsPage.js
  frontend/web/components/pages/ChangeRequestsPage.tsx
  frontend/web/components/pages/ComparePage.js
  frontend/web/components/pages/EnvironmentSettingsPage.tsx
  frontend/web/components/pages/FeatureHistoryDetailPage.tsx
  frontend/web/components/pages/OrganisationSettingsPage.js
  frontend/web/components/pages/ProjectSettingsPage.js
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
  frontend/web/components/users-permissions/OrganisationUsersTable/OrganisationUsersTable.tsx
  frontend/web/styles/components/_tabs.scss
  frontend/web/styles/project/_FeaturesPage.scss
  frontend/web/styles/project/_modals.scss
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Delete obvious comment
  api/features/versioning/versioning_service.py
Due: none

feat: organisation sdk metrics charts (#5996)
  frontend/common/types/responses.ts
  frontend/web/components/OrganisationLimit.tsx
  frontend/web/components/OrganisationUsage.tsx
  frontend/web/components/base/higher-order/ParameterizedRoute.tsx
  frontend/web/components/base/select/MultiSelect.tsx
  frontend/web/components/base/select/SearchableSelect.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/FeatureAnalytics.container.tsx
  frontend/web/components/feature-page/FeatureNavTab/FeatureAnalytics/components/FeatureAnalyticsChart.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/navigation/SidebarLink.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsage.container.tsx
  frontend/web/components/organisation-settings/usage/OrganisationUsageMetrics.container.tsx
  frontend/web/components/organisation-settings/usage/components/OrganisationUsageSideBar.tsx
  frontend/web/components/organisation-settings/usage/components/SingleSDKLabelsChart.tsx
  frontend/web/components/organisation-settings/usage/components/UsageAPIDefinitions.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartFilters.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartTotals.tsx
  frontend/web/components/pages/OrganisationUsagePage.tsx
  frontend/web/components/segments/Rule/components/EnvironmentSelectDropdown.tsx
  frontend/web/components/segments/Rule/components/RuleConditionPropertySelect.tsx
  frontend/web/components/segments/Rule/components/RuleConditionRow.tsx
  frontend/web/styles/3rdParty/_react-select.scss
  frontend/web/styles/components/_aside.scss
  frontend/web/styles/project/_layout.scss
  frontend/web/styles/project/_spacing-utils.scss
Due: none

MAKE DATABASE CALLS GREAT AGAIN
  api/environments/identities/managers.py
  api/environments/identities/views.py
  api/tests/integration/environments/identities/test_integration_identities.py
Due: none

Prevent attempting to use replica if none is given
  api/app_analytics/analytics_db_service.py
  api/environments/identities/views.py
  api/features/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/environments/identities/test_integration_identities.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Tonight may we all have a tranquil sleep
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/features/test_unit_features_views.py
Due: none

docs: Third party integrations (#5882)
  docs/docs/third-party-integrations/_category_.json
  docs/docs/third-party-integrations/analytics/_category_.json
  docs/docs/third-party-integrations/analytics/adobe.md
  docs/docs/third-party-integrations/analytics/amplitude.md
  docs/docs/third-party-integrations/analytics/heap.md
  docs/docs/third-party-integrations/analytics/mixpanel.md
  docs/docs/third-party-integrations/analytics/rudderstack.md
  docs/docs/third-party-integrations/analytics/segment.md
  docs/docs/third-party-integrations/ci-cd/_category_.json
  docs/docs/third-party-integrations/ci-cd/index.md
  docs/docs/third-party-integrations/ci-cd/terraform.md
  docs/docs/third-party-integrations/observability-and-monitoring/_category_.json
  docs/docs/third-party-integrations/observability-and-monitoring/appdynamics.md
  docs/docs/third-party-integrations/observability-and-monitoring/datadog.md
  docs/docs/third-party-integrations/observability-and-monitoring/dynatrace.md
  docs/docs/third-party-integrations/observability-and-monitoring/grafana.md
  docs/docs/third-party-integrations/observability-and-monitoring/new-relic.md
  docs/docs/third-party-integrations/observability-and-monitoring/sentry.md
  docs/docs/third-party-integrations/project-management/_category_.json
  docs/docs/third-party-integrations/project-management/github.md
  docs/docs/third-party-integrations/project-management/jira.md
  docs/docs/third-party-integrations/project-management/servicenow.md
  docs/docs/third-party-integrations/project-management/slack.md
  docs/docs/third-party-integrations/webhook.md
Due: none

fix(DB replication): Prevent replica lag issues in SDK views (#6009)
  api/app/routers.py
  api/app/settings/common.py
  api/app_analytics/analytics_db_service.py
  api/app_analytics/serializers.py
  api/app_analytics/views.py
  api/environments/identities/managers.py
  api/environments/identities/models.py
  api/environments/identities/views.py
  api/environments/models.py
  api/features/versioning/versioning_service.py
  api/features/views.py
  api/poetry.lock
  api/pyproject.toml
  api/tests/integration/environments/identities/test_integration_identities.py
  api/tests/unit/app/test_unit_app_routers.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
  api/tests/unit/features/test_unit_features_views.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

docs: Project and community (#5912)
  docs/docs/project-and-community/contributing.md
  docs/docs/project-and-community/release-notes.md
  docs/docs/project-and-community/roadmap.md
Due: none

docs: New Homepage Design (#5968)
  docs/docs/index.md
  docs/package-lock.json
  docs/package.json
  docs/src/components/Card/CardBody/index.js
  docs/src/components/Card/CardFooter/index.js
  docs/src/components/Card/CardHeader/index.js
  docs/src/components/Card/CardImage/index.js
  docs/src/components/Card/index.js
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/img/full-logo.svg
Due: none

docs: Deployment and self hosting (#5911)
  docs/docs/deployment-self-hosting/_category_.json
  docs/docs/deployment-self-hosting/administration-and-maintenance/_category_.json
  docs/docs/deployment-self-hosting/administration-and-maintenance/troubleshooting.md
  docs/docs/deployment-self-hosting/administration-and-maintenance/upgrades-and-rollbacks.md
  docs/docs/deployment-self-hosting/administration-and-maintenance/using-the-django-admin.md
  docs/docs/deployment-self-hosting/core-configuration/_category_.json
  docs/docs/deployment-self-hosting/core-configuration/caching-strategies.md
  docs/docs/deployment-self-hosting/core-configuration/email-setup.md
  docs/docs/deployment-self-hosting/core-configuration/environment-variables.md
  docs/docs/deployment-self-hosting/core-configuration/initial-setup.md
  docs/docs/deployment-self-hosting/core-configuration/running-flagsmith-on-flagsmith.md
  docs/docs/deployment-self-hosting/edge-proxy.md
  docs/docs/deployment-self-hosting/enterprise-edition.md
  docs/docs/deployment-self-hosting/hosting-guides/_category_.json
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/_category_.json
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/aptible.md
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/aws.md
  docs/docs/deployment-self-hosting/hosting-guides/cloud-providers/google-cloud.md
  docs/docs/deployment-self-hosting/hosting-guides/docker.md
  docs/docs/deployment-self-hosting/hosting-guides/kubernetes-openshift.md
  docs/docs/deployment-self-hosting/hosting-guides/manual-installation.md
  docs/docs/deployment-self-hosting/hosting-guides/one-click-installers.md
  docs/docs/deployment-self-hosting/index.md
  docs/docs/deployment-self-hosting/scaling-and-performance/asynchronous-task-processor.md
  docs/docs/deployment-self-hosting/scaling-and-performance/load-testing.md
  docs/docs/deployment-self-hosting/scaling-and-performance/monitoring.md
  docs/docs/deployment-self-hosting/scaling-and-performance/sizing-and-scaling.md
  docs/docs/deployment-self-hosting/scaling-and-performance/using-influxdb-for-analytics.md
Due: none

Upload e2e errors to GHA (Sonnet 4)
  .github/actions/e2e-tests/action.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/manual-e2e-tests.yml
  frontend/.testcaferc.js
  frontend/docker-compose-e2e-tests.yml
  frontend/e2e/README.md
  frontend/e2e/index.cafe.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Don't change the team's workflow dang it (Sonnet 4)
  .github/actions/e2e-tests/action.yml
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/manual-e2e-tests.yml
  frontend/docker-compose-e2e-tests.yml
  frontend/e2e/README.md
  frontend/e2e/index.cafe.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Sound less like AI (Sonnet 4)
  frontend/e2e/README.md
  frontend/e2e/index.cafe.js
Due: none

feat: added-dropdown-opening-step-inversioning-tests
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/web/components/navigation/TabMenu/Tabs.tsx
Due: none

fix: added-dropdown-opening-step-inversioning-tests (#6022)
  frontend/e2e/helpers.cafe.ts
  frontend/e2e/tests/versioning-tests.ts
  frontend/web/components/navigation/TabMenu/Tabs.tsx
Due: none

chore(main): release 2.196.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

Improve documentation (Sonnet 4)
  frontend/e2e/README.md
Due: none

💅
  .github/workflows/.reusable-docker-e2e-tests.yml
  .github/workflows/manual-e2e-tests.yml
Due: none

Sanitize identifiers!!!
  api/environments/identities/models.py
  api/environments/identities/serializers.py
  api/environments/identities/views.py
  api/tests/unit/environments/identities/test_unit_identities_views.py
Due: none

ci: Add known SDK version workflow
  .github/workflows/api-add-known-sdk-version.yml
  api/Makefile
  api/poetry.lock
  api/pyproject.toml
  api/scripts/add-known-sdk-version.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

uniform inputs
  .github/workflows/api-add-known-sdk-version.yml
Due: none

repurpose the workflow
  .github/workflows/api-add-known-sdk-version.yml
  .github/workflows/api-run-makefile-target.yml
Due: none

add comment input
  .github/workflows/api-run-makefile-target.yml
Due: none

naming
  .github/workflows/api-run-makefile-target.yml
Due: none

Update .github/workflows/api-run-makefile-target.yml
  .github/workflows/api-run-makefile-target.yml
Due: none

Polishing tests
  api/tests/unit/environments/identities/test_unit_identities_views.py
Due: none

y u state migration Django
  api/environments/identities/migrations/0003_sanitized_identifiers.py
Due: none

use Path.read_text
  api/scripts/add-known-sdk-version.py
Due: none

chore(evaluation-context): Fix `EvaluatioinContext` reference in `EvaluationResult` schema
  sdk/evaluation-result.json
Due: none

chore(evaluation-context): Fix `EvaluationContext` reference in `EvaluationResult` schema (#6037)
  sdk/evaluation-result.json
Due: none

rely on re
  api/poetry.lock
  api/pyproject.toml
  api/scripts/add-known-sdk-version.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

revert
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster
