Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

test-api:
  image: python:3.7-slim
  stage: test
  services:
  - postgres:11.12-alpine
  variables:
    DJANGO_SETTINGS_MODULE: app.settings.test
    DATABASE_URL: postgres://testuser:testpass@postgres/test_db
    POSTGRES_USER: testuser
    POSTGRES_PASSWORD: testpass
  script:
  - pip install virtualenv
  - virtualenv .venv
  ...

build-dockerhub-api:
  stage: build
  tags:
  - flagsmith-shell-runner
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/api/CI_COMMIT_REF_NAME
  ...

deploydevelop-api:
  image: ilyasemenov/gitlab-ci-git-push
  stage: deploy
  script:
  - git-push dokku@bitwarden.bullet-train.io:bullet-train

deployawsstaging:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: staging-api
    AWS_ACCESS_KEY_ID: $AWS_STAGING_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_STAGING_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

deployawsmaster:
  image: flagsmith/eb-cli:latest
  stage: deploy
  variables:
    ENVIRONMENT_NAME: production-api
    AWS_ACCESS_KEY_ID: $AWS_PRODUCTION_ACCESS_KEY_ID
    AWS_SECRET_ACCESS_KEY: $AWS_PRODUCTION_SECRET_ACCESS_KEY
  script:
  - 'echo "Deploying to beanstalk with label $CI_COMMIT_SHORT_SHA"
  
    cd api
  
  ...

test-frontend:
  image: kylessg/bullet-train-nightwatch:1.1
  stage: test
  script:
  - google-chrome --version
  - cd frontend
  - node -v
  - npm i
  - if [ $CI_COMMIT_REF_NAME == "staging" ]; then export ENV=staging; echo 'Setting env to' $ENV; npm run env; fi;
  ...

build-dockerhub-frontend:
  stage: deploy
  tags:
  - flagsmith-shell-runner
  script:
  ...

deploymaster-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploystaging-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  - if [ "$CI_COMMIT_REF_NAME" == "master" ]; then IMAGE_TAG="latest"; elif [ "$CI_COMMIT_REF_NAME" == "develop" ]; then IMAGE_TAG="develop"; else IMAGE_TAG=$CI_COMMIT_TAG; fi
  - echo $CI_COMMIT_REF_NAME > $CI_PROJECT_DIR/CI_COMMIT_REF_NAME
  ...

deploydevelop-frontend:
  image: kylessg/bullet-train-gcloud:1.0
  stage: deploy
  script:
  ...

addressing changes and doing cleanups
  frontend/common/providers/Permission.tsx
  frontend/common/types/requests.ts
  frontend/web/components/EditPermissions.tsx
  frontend/web/components/InspectPermissions.tsx
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/PermissionRow.tsx
  frontend/web/components/derived-permissions/DerivedPermissionsList.tsx
  frontend/web/components/derived-permissions/DerivedTag.tsx
  frontend/web/components/inspect-permissions/EnvironmentPermissions.tsx
  frontend/web/components/inspect-permissions/ExpandablePermissionsList.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/inspect-permissions/Permissions.tsx
  frontend/web/components/inspect-permissions/ProjectPermissions.tsx
  frontend/web/components/pages/UsersAndPermissionsPage.tsx
Due: none

Update frontend/common/utils/utils.tsx
  frontend/common/utils/utils.tsx
Due: none

chore: updates packages
  frontend/package-lock.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

chore: initial
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

remove typescript parser update
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

ore tests
  api/permissions/permissions_calculator.py
  api/tests/unit/permissions/test_unit_permissions_calculator.py
  api/tests/unit/projects/test_unit_projects_views.py
Due: none

fix: permissions not revoked after view project disabled (#5438)
  frontend/common/utils/utils.tsx
  frontend/web/components/EditPermissions.tsx
Due: none

Tweak documentation, get rid of work we don't need done
  docs/docs/deployment/configuration/task-processor.md
Due: none

improve copy text
  frontend/web/components/PermissionControl.tsx
  frontend/web/components/PermissionRow.tsx
Due: none

update react router
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Migrate tasks processor database when starting up
  api/scripts/run-docker.sh
Due: none

Move database router to flagsmith-common
  api/app/routers.py
  api/app/settings/common.py
  api/tests/unit/app/test_unit_app_routers.py
Due: none

Fix default task consuming behavior
  api/app/settings/common.py
  docs/docs/deployment/configuration/task-processor.md
Due: none

feat: implemented-metrics-accordion
  frontend/common/hooks/useMediaQuery.tsx
  frontend/common/services/useEnvironment.ts
  frontend/common/services/useFeatureVersion.ts
  frontend/common/services/useIdentity.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/base/accordion/AccordionCard.tsx
  frontend/web/components/metrics/EnvironmentMetric.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_metrics.scss
Due: none

feat: excluded-open-change-requests-from-features-ids
  api/environments/models.py
Due: none

feat: removed-unnecessary-log
  frontend/web/components/pages/HomeAside.tsx
Due: none

feat: fixed-types
  api/.env-local
  api/environments/models.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

feat: fixed-segment-grouping-query
  api/.env-local
  api/environments/models.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

re-add icons, adjust wording
  frontend/common/stores/feature-list-store.ts
  frontend/web/components/Icon.tsx
  frontend/web/components/pages/GettingStartedPage.tsx
Due: none

re-order todos
  frontend/web/components/pages/GettingStartedPage.tsx
Due: none

fix: removed-node-sass-deprecated-package (#5424)
  frontend/common/utils/utils.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/ProjectManageWidget.tsx
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: improved-identity-sql-metrics
  api/environments/models.py
  api/tests/unit/environments/test_environment_metrics_views.py
Due: none

Fix sh syntax
  api/scripts/run-docker.sh
Due: none

update npm packages
  frontend/package-lock.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: added-nav-link-coming-soon-for-reporting
  frontend/web/components/App.js
  frontend/web/components/NavSubLink.tsx
  frontend/web/components/Tooltip.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/navigation/NavSubLink.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/styles/project/_project-nav.scss
Due: none

feat: reverted-to-feature-segment-ids-isolation
  api/environments/models.py
Due: none

feat: implementend-environment-metrics
  frontend/common/hooks/useMediaQuery.tsx
  frontend/common/services/useEnvironment.ts
  frontend/common/services/useFeatureVersion.ts
  frontend/common/services/useIdentity.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/common/utils/utils.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/App.js
  frontend/web/components/Tooltip.tsx
  frontend/web/components/base/accordion/AccordionCard.tsx
  frontend/web/components/metrics/EnvironmentMetric.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/navigation/NavSubLink.tsx
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/HomeAside.tsx
  frontend/web/styles/components/_index.scss
  frontend/web/styles/components/_metrics.scss
  frontend/web/styles/project/_project-nav.scss
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: regenerated-package-json
  frontend/package-lock.json
  frontend/package.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Run migrations consistently
  api/scripts/run-docker.sh
Due: none

Use the provided Dockerfile
  api/Dockerfile
  docker/new/docker-compose.yml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Run the task processor
  docker/new/docker-compose.yml
Due: none

DROPME: Point to flagsmith-common temporary version
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Fix issue deleting segment overrides in versioned environment when using identities endpoint
  api/environments/identities/models.py
  api/tests/integration/features/versioning/test_integration_v2_versioning.py
Due: none

fix(conftest/fs): fix FileExistsError
  api/conftest.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

fix: makemigration tests
  api/tests/unit/core/management/test_unit_core_management_makemigrations.py
Due: none

fix: misc test fixes (#5450)
  api/conftest.py
  api/tests/unit/core/management/test_unit_core_management_makemigrations.py
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

chore(main): release 2.177.1
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml
