Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

feat: renamed-feature-health-sample-to-webhook ⚠️ (#6332)
  api/features/feature_health/migrations/0003_migrate_sample_to_webhook.py
  api/features/feature_health/models.py
  api/features/feature_health/providers/generic/mappers.py
  api/features/feature_health/providers/webhook/__init__.py
  api/features/feature_health/providers/webhook/mappers.py
  api/features/feature_health/providers/webhook/services.py
  api/features/feature_health/providers/webhook/types.py
  api/features/feature_health/services.py
  api/tests/integration/features/feature_health/conftest.py
  api/tests/integration/features/feature_health/test_views.py
  api/tests/unit/features/feature_health/conftest.py
  api/tests/unit/features/feature_health/test_admin.py
  api/tests/unit/features/feature_health/test_models.py
  api/tests/unit/features/feature_health/test_services.py
  api/tests/unit/features/test_migrations.py
Due: none

fix: removed-useless-env-id-and-get-proper-envs
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/tabs/ImportTab.tsx
Due: none

deps: bump licensing 0.2.0 (#6333)
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

fix: project-settings-export-import-missing (#6343)
  frontend/web/components/import-export/ImportPage.tsx
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/tabs/ImportTab.tsx
Due: none

chore(main): release 2.203.0
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

Create flag migration
  frontend/.eslintrc.js
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/CreateEditFeature/EditFeatureValue.tsx
  frontend/web/components/modals/CreateEditFeature/index.tsx
  frontend/web/components/modals/CreateEditFeature/tabs/CreateFeatureTab.tsx
  frontend/web/components/modals/CreateEditFeature/tabs/FeatureValueTab.tsx
  frontend/web/components/modals/FlagValueFooter.tsx
  frontend/web/components/mv/VariationOptions.tsx
  frontend/web/components/mv/VariationValueInput.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/FeaturesPage.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Highlight segment when opening a feature
  frontend/common/stores/feature-list-store.ts
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
  frontend/web/styles/project/_utils.scss
Due: none

Migrate tabs
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/modals/CreateEditFeature/index.tsx
  frontend/web/components/modals/CreateEditFeature/tabs/FeatureValueTab.tsx
  frontend/web/components/modals/CreateFlag/FeatureLimitAlert.tsx
  frontend/web/components/modals/CreateFlag/index.js
  frontend/web/components/modals/CreateFlag/tabs/CreateFeature.tsx
  frontend/web/components/modals/CreateFlag/tabs/FeatureSettings.tsx
  frontend/web/components/modals/CreateFlag/tabs/FeatureValue.tsx
  frontend/web/components/modals/CreateFlag/tabs/FeatureValueTab.tsx
  frontend/web/components/pages/ChangeRequestDetailPage.tsx
  frontend/web/components/pages/FeaturesPage.js
Due: none

Add email signature
  frontend/common/loadChat.ts
  frontend/common/types/responses.ts
Due: none

chore(main): release 2.203.0 (#6318)
  .release-please-manifest.json
  CHANGELOG.md
  version.txt
Due: none

feat: frontend-rename-feature-health-sample-to-webhook ⚠️ (#6330)
  docs/docs/managing-flags/feature-health-metrics.md
  frontend/web/components/feature-health/components/FeatureHealthProviderDocumentationNote.tsx
  frontend/web/components/feature-health/feature-health.types.ts
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/tabs/EditHealthProvider.tsx
  public/webhooks/feature-health-webhook-provider.json
Due: none

feat: Add Pylon email signature (#6352)
  frontend/common/loadChat.ts
  frontend/common/types/responses.ts
Due: none

Adding a page in our Docs for our MCP serverr
  docs/docs/integrating-with-flagsmith/mcp-server.md
Due: none

Add settings and value tabs
  frontend/web/components/Switch.js
  frontend/web/components/Switch.tsx
  frontend/web/components/base/forms/Button.tsx
  frontend/web/components/modals/CreateFlag/FeatureNameInput.tsx
  frontend/web/components/modals/CreateFlag/FeatureUpdateSummary.tsx
  frontend/web/components/modals/CreateFlag/index.js
  frontend/web/components/modals/CreateFlag/tabs/CreateFeature.tsx
  frontend/web/components/modals/CreateFlag/tabs/FeatureSettings.tsx
  frontend/web/components/tags/AddEditTags.tsx
  frontend/web/components/tags/TagValues.tsx
  frontend/web/styles/_variables.scss
  frontend/web/styles/project/_buttons.scss
Due: none

Revert claude changes
  frontend/.claude/commands/api.md
  frontend/.claude/commands/backend.md
  frontend/.claude/commands/check-staged.md
  frontend/.claude/commands/check.md
  frontend/.claude/commands/context.md
  frontend/.claude/commands/feature-flag.md
  frontend/.claude/commands/form.md
  frontend/.claude/commands/ui-patterns.md
  frontend/.claude/context/api-integration.md
  frontend/.claude/context/architecture.md
  frontend/.claude/context/backend-integration.md
  frontend/.claude/context/feature-flags.md
  frontend/.claude/context/forms.md
  frontend/.claude/context/git-workflow.md
  frontend/.claude/context/mobile.md
  frontend/.claude/context/patterns.md
  frontend/.claude/context/quick-reference.md
  frontend/.claude/context/ui-patterns.md
  frontend/.claude/scripts/sync-types-helper.py
  frontend/.claude/settings.json
  frontend/CLAUDE.md
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Migrate components
  frontend/package-lock.json
  frontend/package.json
  frontend/web/components/Feature.js
  frontend/web/components/Switch.tsx
  frontend/web/components/base/grid/FormGroup.js
  frontend/web/components/base/grid/FormGroup.tsx
  frontend/web/components/base/grid/Row.js
  frontend/web/components/base/grid/Row.tsx
  frontend/web/components/modals/CreateFlag/EditFeatureValue.tsx
  frontend/web/components/modals/CreateFlag/FeatureNameInput.tsx
  frontend/web/components/modals/CreateFlag/FeatureUpdateSummary.tsx
  frontend/web/components/modals/CreateFlag/tabs/CreateFeature.tsx
  frontend/web/components/modals/CreateFlag/tabs/FeatureValue.tsx
  frontend/web/project/project-components.js
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Revert changes
  frontend/.eslintrc.js
  frontend/Makefile
  frontend/docker-compose-e2e-tests.yml
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

deps: bump-flagsmith-private-to-0.4.2
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

refactor: consolidate types for orgId and projId (#6322)
  frontend/common/types/requests.ts
  frontend/web/components/EnvironmentFilter.tsx
  frontend/web/components/ExternalResourcesLinkTab.tsx
  frontend/web/components/feature-health/FeatureHealthTabContent.tsx
  frontend/web/components/inspect-permissions/InspectPermissions.tsx
  frontend/web/components/inspect-permissions/Permissions.tsx
  frontend/web/components/metrics/EnvironmentMetricsList.tsx
  frontend/web/components/modals/Payment.js
  frontend/web/components/navigation/EnvironmentAside.tsx
  frontend/web/components/organisation-settings/usage/components/UsageChartFilters.tsx
  frontend/web/components/pages/project-settings/ProjectSettingsPage.tsx
  frontend/web/components/pages/project-settings/hooks/useUpdateProjectWithToast.ts
  frontend/web/components/pages/project-settings/tabs/ImportTab.tsx
  frontend/web/components/pages/project-settings/tabs/PermissionsTab.tsx
Due: none

refactor: rm unnecessary deps
  frontend/web/components/BreadcrumbSeparator.tsx
Due: none

refactor(features): replace 'any' types with proper TypeScript types in hooks
  frontend/web/components/pages/features/hooks/useFeatureActions.ts
  frontend/web/components/pages/features/hooks/useFeatureFilters.ts
Due: none

refactor(features): eliminate legacy stores from FeaturesPage
  frontend/web/components/pages/FeaturesPage.tsx
Due: none

refactor(features): extract UI components from FeaturesPage
  frontend/web/components/pages/features/components/FeaturesList.tsx
  frontend/web/components/pages/features/components/FeaturesPageHeader.tsx
  frontend/web/components/pages/features/components/FeaturesSDKIntegration.tsx
  frontend/web/components/pages/features/index.ts
Due: none

chore(types): add global type declarations for legacy utils
  frontend/global.d.ts
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat(features): add shared TypeScript types and useProjectEnvironments hook
  frontend/web/components/pages/features/hooks/useProjectEnvironments.ts
  frontend/web/components/pages/features/types.ts
Due: none

refactor(features): extract custom hooks for filters and actions
  frontend/web/components/pages/features/hooks/useFeatureActions.ts
  frontend/web/components/pages/features/hooks/useFeatureFilters.ts
Due: none

feat: integrate RTK Query in FeaturesTableFilters for real-time data fetching
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/features/components/FeaturesTableFilters.tsx
Due: none

feat: migrate FeaturesPage to functional component with full RTK Query integration
  frontend/common/services/useProjectFlag.ts
  frontend/web/components/pages/FeaturesPage.js
  frontend/web/components/pages/FeaturesPage.tsx
Due: none

refactor(features): simplify FeaturesPage using custom hooks and components
  frontend/web/components/pages/FeaturesPage.tsx
Due: none

feat: add RTK Query service for feature list with comprehensive filtering
  frontend/common/services/useFeatureList.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
Due: none

refactor(features): remove legacy stores from FeaturesList component
  frontend/web/components/pages/features/components/FeaturesList.tsx
Due: none

feat: segment feature state view (#6137)
  frontend/common/providers/withSegmentOverrides.js
  frontend/common/services/useProjectFlag.ts
  frontend/common/services/useSegmentOverride.ts
  frontend/common/stores/feature-list-store.ts
  frontend/common/types/requests.ts
  frontend/common/types/responses.ts
  frontend/web/components/Breadcrumb.tsx
  frontend/web/components/EnvironmentSelect.tsx
  frontend/web/components/PanelSearch.tsx
  frontend/web/components/ProjectManageWidget.tsx
  frontend/web/components/SegmentOverrides.js
  frontend/web/components/SegmentSelect.tsx
  frontend/web/components/feature-override/FeatureOverrideRow.tsx
  frontend/web/components/feature-override/SegmentOverrideDescription.tsx
  frontend/web/components/feature-page/FeatureFilters.tsx
  frontend/web/components/feature-summary/FeatureRow.tsx
  frontend/web/components/import-export/FeatureImport.tsx
  frontend/web/components/modals/AssociatedSegmentOverrides.js
  frontend/web/components/modals/CreateFlag.js
  frontend/web/components/modals/CreateSegment.tsx
  frontend/web/components/pages/OrganisationsPage.tsx
  frontend/web/components/pages/SegmentPage.tsx
  frontend/web/components/pages/WidgetPage.tsx
  frontend/web/components/segments/AssociatedSegmentOverrides.tsx
  frontend/web/components/tables/TableSortFilter.tsx
  frontend/web/styles/project/_utils.scss
Due: none

docs: remove erroneous statement on replication of identity data (#6336)
  docs/docs/performance/edge-api.md
Due: none
