Repository Flagsmith/flagsmith: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster, test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Path conditions:
  test-api: any of: api/*
  build-dockerhub-api: any of: api/*, .gitlab-ci.yml
  deploydevelop-api: any of: api/*, .gitlab-ci.yml
  deployawsstaging: any of: api/*
  deployawsmaster: any of: api/*
  test-frontend: any of: frontend/*, .gitlab-ci.yml
  build-dockerhub-frontend: any of: frontend/*, .gitlab-ci.yml
  deploymaster-frontend: any of: frontend/*, .gitlab-ci.yml
  deploystaging-frontend: any of: frontend/*, .gitlab-ci.yml
  deploydevelop-frontend: any of: frontend/*, .gitlab-ci.yml

deps: Bump flagsmith-common from 2.2.3 to 2.2.4 (#6237)
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update contexts
  frontend/.claude/commands/api-types-sync.md
  frontend/.claude/commands/backend.md
  frontend/.claude/commands/check-staged.md
  frontend/.claude/commands/context.md
  frontend/.claude/commands/form.md
  frontend/.claude/commands/ui-patterns.md
  frontend/.claude/context/api-integration.md
  frontend/.claude/context/api-types-sync.md
  frontend/.claude/context/architecture.md
  frontend/.claude/context/backend-integration.md
  frontend/.claude/context/feature-flags.md
  frontend/.claude/context/forms.md
  frontend/.claude/context/git-workflow.md
  frontend/.claude/context/mobile.md
  frontend/.claude/context/patterns.md
  frontend/.claude/context/quick-reference.md
  frontend/.claude/context/ui-patterns.md
  frontend/.claude/scripts/sync-types-helper.py
  frontend/CLAUDE.md
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Update contexts
  frontend/.claude/context/feature-flags.md
  frontend/.claude/context/quick-reference.md
Due: none

Update contexts
  frontend/.claude/context/feature-flags.md
Due: none

Update contexts
  frontend/.claude/context/quick-reference.md
  frontend/CLAUDE.md
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Add multiselect to plan filter
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/views.py
Due: none

Fix tests
  api/tests/integration/sales_dashboard/test_integration_sales_dashboard.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Due: none

Pin firefox version
  frontend/Dockerfile-base.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

Improve comments
  frontend/Dockerfile-base.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

temp trigger build e2e
  .github/workflows/platform-docker-build-e2e-image.yml
Due: none

Really temp build e2e image
  .github/workflows/platform-docker-build-e2e-image.yml
Due: none

Replace temp triggers with workflow dispatch
  .github/workflows/platform-docker-build-e2e-image.yml
Due: none

fix: Pin firefox version (#6244)
  .github/workflows/platform-docker-build-e2e-image.yml
  frontend/Dockerfile-base.e2e
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

feat: trigger FLAG_UPDATED webhooks for v2 versioning environments
  api/environments/models.py
  api/features/tasks.py
  api/features/versioning/models.py
  api/features/versioning/tasks.py
  api/tests/unit/features/versioning/test_unit_versioning_models.py
  api/tests/unit/features/versioning/test_unit_versioning_tasks.py
Due: none

chore(sales-dashboard): add multiselect to plan filter (#6243)
  api/sales_dashboard/templates/sales_dashboard/home.html
  api/sales_dashboard/views.py
  api/tests/integration/sales_dashboard/test_integration_sales_dashboard.py
  api/tests/unit/sales_dashboard/test_unit_sales_dashboard_views.py
Due: none

doc: Update quickstart redirect
  docs/vercel.json
Due: none

docs: Clean up vercel.json by removing duplicates
  docs/vercel.json
Due: none

docs: Update quickstart redirect (#6252)
  docs/vercel.json
Due: none

Revert "docs: Update quickstart redirect (#6252)"
  docs/vercel.json
Due: none

Remove all trailing slashes and add `"trailingSlash": false`
  docs/vercel.json
Due: none

docs: handle trailing slash behaviour for all URLs (#6254)
  docs/vercel.json
Due: none

fix: segment change request warning shows on all segments
  frontend/common/types/requests.ts
  frontend/web/components/ExistingProjectChangeRequestAlert.tsx
  frontend/web/components/modals/CreateSegment.tsx
Due: none

Update flagsmith-common
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update flagsmith dependency
  frontend/package-lock.json
Due: test-frontend, build-dockerhub-frontend, deploymaster-frontend, deploystaging-frontend, deploydevelop-frontend

temp: use repo flagsmith-common
  api/poetry.lock
  api/pyproject.toml
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update source reference
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

Update flagsmith-common git sha
  api/poetry.lock
Due: test-api, build-dockerhub-api, deploydevelop-api, deployawsstaging, deployawsmaster

use | operator instead of Union
  api/environments/models.py
Due: none
